---
title: Breaking News, Hot Giveaway and many more. Explore Now!
snippet: Learn more about the latest Chris's discoveries
link: https://mackeeper.com/blog
css: main.css

bg: '#f8f8f8'
footerbg: '#f8f8f8'
footerborder: none
width: 600px
---
{% extends "layouts/_layout.html" %}

{% block content %}


	{{mixins.space(26)}}
	<tr class="content">
		<td>
			<table class="promo">
				<tr>
					<td class="promo__left" valign="top">
						<a href="#"><img src="img/plus.png">добавить свою компанию</a>
					</td>
					<td class="promo__right" align="right" valign="top">
						Теперь и в России!
					</td>
				</tr>
				<tr>
					<td class="promo__main" colspan="2" align="left">
						Проект, который так долго ждала кейтеринг-индустрия
					</td>
				</tr>
				<tr>
					<td colspan="2" height="20"></td>
				</tr>
				<tr>
					<td class="promo__img" colspan="2">
						<img src="img/img.jpg">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="34"></td>
	</tr>
	<tr>
		<td>
			<table class="main">
				<tr>
					<td class="main__text" align="center">
						<p><strong>3F Group,</strong></p>
						<p>Настала пора присоединиться к серьёзному кейтеринг-сервису. Мы надеемся, что вы приобретёте здесь множество новых клиентов. Event-fest.ru — единый инструмент для грядущего мероприятия.</p>
					</td>
				</tr>
				<tr>
					<td>
						{{mixins.button(48, "Добавить компанию", "#")}}
					</td>
				</tr>
				<tr>
					<td class="meta" align="center">
						<p>Ссылка является эксклюзивной. Передача ссылки для оформления 
						аккаунта вашей компании возможна другим сотрудникам вашей компании:</p>

						<p><a href="#" class="link">https://event-fest.ru/3FGroup/d/1p8_5KUTfcdsHEDyLR7_SS/</a></p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="34"></td>
	</tr>
	<tr>
		<td>
			<table class="about">
				<tr>
					<td><div class="title">О проекте</div></td>
					<td align="right"><img src="img/1.png" alt="about"></td>
				</tr>
				<tr>
					<td align="left"><img src="img/2.png" alt="about"></td>
					<td>
						<p>Сервис, объединяющий всех <br>представителей event-индустрии: <br>
						от организации мероприятий, <br> площадок, кейтеринга, аренды <br> оборудования — до диджев, <br> декораторов и компаний 
						по обеспечению безопасности. <br>
						<a href="#">event-fest.ru</a></p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="34"></td>
	</tr>
	<!-- end TOP AREA -->
	{{mixins.space(30)}}


{% endblock %} 
