---
title: Breaking News, Hot Giveaway and many more. Explore Now!
snippet: Learn more about the latest Chris's discoveries
link: https://mackeeper.com/blog
css: main.css

bg: '#f8f8f8'
footerbg: '#f8f8f8'
footerborder: none
width: 600px
---
{% extends "layouts/_layout2.html" %}

{% block content %}


	{{mixins.space(26)}}
	<tr>
		<td>
			<table class="main">
				<tr>
					<td class="main__text" align="center">
						<p><strong>3F Group,</strong></p>
						<p>Вы успешно зарегистрированы в сервисе 
event-fest.ru. Пожалуйста, подтвердите регистрацию 
для начала работы в сервисе.</p>
					</td>
				</tr>
				<tr>
					<td>
						{{mixins.button(48, "Активировать учетную запись", "#")}}
					</td>
				</tr>
				<tr>
					<td class="meta" align="center">
						<p>Или воспользуйтесь ссылкой:</p>

						<p><a href="#" class="link">https://event-fest.ru/3FGroup/d/1p8_5KUTfcdsHEDyLR7_SS/</a></p>
					</td>
				</tr>
				{{mixins.space(20)}}
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table class="border">
				<tr>
					<td class="info" align="center">По всем возникающим вопросам обращайтесь, <br>
			пожалуйста, по адресу: hello@event-fest.ru</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="info-box" align="center">
			LLC «Event Fest» обеспечивает защиту персональных данных  <br>
			пользователя в соответствии с законодательством РФ. <br>
			127018, г. Москва, Сущевский Вал, д.16, строение 6
		</td>
	</tr>
	<!-- end TOP AREA -->
	{{mixins.space(46)}}


{% endblock %} 
