// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

html
	font-size: 62.5%
	&.desktop
		&.no-retina
			.nav-panel
				+scroll
	+selection
		background: rgba(#000,.2) 
		color: #000 
body
	min-width: 320px
	+opensans
	+reg
	font-size: 1.2rem
	line-height: 1.4
	color: $text 
	-webkit-font-smoothing: antialiased 
a
	text-decoration: none
input, button
	+opensans
input
	border-radius: 0 !important
.touch
	input[type="text"],
	input[type="email"],
	input[type="password"],
		font-size: 1.6rem
.text-left
	text-align: left
.out
	overflow: hidden
	min-height: calc(100vh - 88px) 
	padding-left: 14rem
	+r(1100)
		padding-left: 0

.is-hidden-tablet
	display: block !important
	+r(1024)
		display: none !important
.is-visible-tablet
	display: none !important
	+r(1024)
		display: block !important
.container,
.container-fluid
	position: relative
	margin: 0 auto 
	padding: 0 1rem 
	max-width: 116rem
	&.is-small
		max-width: 102rem
	&.is-tiny
		max-width: 93rem
	&.is-inner
		max-width: 85.5rem 
	+r(480)
		padding: 0 1.5rem 
.text-right
	text-align: right !important
.text-center
	text-align: center !important
.icon
	display: inline-block
.title
	position: relative
	margin-bottom: 4rem
	font-size: 2.4rem
	+light
	color: $text 	
	+r(768)
		margin-bottom: 2rem
		font-size: 2.2rem
	+r(480)
		font-size: 2rem
	+ .post-slider
		margin-top: -2rem
		+r(768)
			margin-top: 0
	.btn-prev,
	.btn-next
		position: absolute
		right: 0
		top: 0
	.btn-prev
		right: 5rem
		+r(768)
			right: 3rem
	&_light
		color: $note 
	&_small
		font-size: 2.2rem
	&_h2
		font-size: 2rem
		line-height: 1.25
		+r(768)
			font-size: 1.8rem
		+r(480)
			font-size: 1.6rem
	&_h3
		margin-bottom: 2rem
		font-size: 1.8rem
		line-height: 1.3
		+r(768)
			font-size: 1.6rem
		+r(480)
			font-size: 1.4rem
	&_half
		max-width: 60%
		margin: 0 auto 5.2rem 
		+r(768)
			max-width: 100%
	&_nav
		padding-right: 10rem
		+r(768)
			padding-right: 6rem
	&_big
		color: #fff
		+roboto
		+bold
		font-size: 4.6rem
		line-height: .9
		margin-bottom: 1.8rem
.section
	padding: 3.5rem 0 4.5rem
	clear: both
	+r(1024)
		padding: 2rem 0 3rem 
	&_bg
		background: $second 
.items-slider
	margin: 0 -2.5rem 0
	+r(1024)
		margin: 0 -1rem 0
	.slick-slide
		padding: .5rem 2.5rem
		+r(1024)
			padding: .5rem 1rem 

.slick-arrow
	background: none
	font-size: 2.4rem
	+r(768)
		font-size: 1.8rem
	&.slick-disabled
		display: none !important
	.icon-arrow-l
		+r(768)
			+sr(arrow-l)
	.icon-arrow-r
		+r(768)
			+sr(arrow-r)
.item
	display: block
	padding: 3.8rem 2rem 2rem
	width: 30%
	min-height: 43rem
	background: #fff
	text-align: center
	color: $text
	box-shadow: 0 1px 3px rgba(#000, .25) 
	+tr(box-shadow .3s)
	+r(768)
		min-height: 35rem
	+r(480)
		min-height: 32rem
	&:hover
		box-shadow: 0 1px 5px rgba(#000, .25) 
	&__img
		width: 100%
		margin-bottom: 1.8rem
		padding: 0 2.5rem 
		+r(768)
			padding-top: 2rem
		a
			display: block
			+clip-path
			overflow: hidden
		img
			display: block
			margin: 0 auto 
			max-width: 100%
			max-height: 100%
			+tr(transform .3s)
	&__title
		padding: 0 14% 
		height: 9.8rem
		overflow: hidden
		font-size: 1.8rem
		+reg
		line-height: 1.4
		+r(1024)
			font-size: 1.6rem
			padding: 0
		+r(768)
			padding: 0
			height: auto
			margin-bottom: 1rem
			font-size: 1.4rem 
		a
			color: $text
			+tr(color .3s) 
			&:hover
				color: $primary 
	&.is-gift
		.item__img
			position: relative
			&:before
				content: $i-icon-gift
				position: absolute
				z-index: 3
				+icon
				top: 50%
				left: 50%
				color: #FFF
				font-size: 4.7rem
				margin: -2.35rem 0 0 -2.35rem 
				transition: color .3s
				pointer-events: none
			&:hover
				&:before
					color: $primary 
	&_one
		width: 100%
		+r($md)
			min-height: 40rem
		+r($sm)
			min-height: 36rem 
	&_two
		width: 45%  

.cat
	font-size: .9rem
	text-transform: uppercase
	color: #c3c3cc
	+roboto
	+bold 
	letter-spacing: 3px
	+tr(color .3s) 
a
	&.cat
		&:hover
			color: $text 
.slick-slide
	.item
		width: 100%
.masonry
	margin: 0 -2.5rem -5rem
	+r(1024)
		margin: 0 -1rem -2rem
	+ .text-center
		margin-top: 5rem
	&_two
		text-align: center
		.masonry-sizer
			width: 50%
			+r($xxs)
				width: 100%
		.masonry-item
			width: 50%
			+r($xxs)
				width: 100%
	&_one
		+r($sm)
			margin-top: 3rem
		.masonry-sizer
			width: 100%
			+r($sm)
				width: 50%
			+r($xxs)
				width: 100%
		.masonry-item
			width: 100%
			margin-bottom: 4rem
			+r($sm)
				width: 50%
			+r($xxs)
				width: 100%
	&_gallery
		.masonry-sizer
			width: 33.3%
			+r($sm)
				width: 50%
			+r($xxs)
				width: 100%
		.masonry-item
			width: 33.3%
			padding: .1rem 
			margin-bottom: 0
			+r($sm)
				width: 50%
			+r($xxs)
				width: 100%
		.masonry-item-menu
			margin-bottom: 5rem 
			width: 33.3%
			+r($sm)
				width: 50%
				padding: 0.1rem
				margin-bottom: 1rem
			+r($xxs)
				width: 100%
		.masonry-item--big
			width: 66.7%
			+r($sm)
				width: 50%
			+r($xxs)
				width: 100%
	


.masonry-sizer
	width: 33.3%
	+r(768)
		width: 50%
	+r(480)
		width: 100%
.masonry-item
	width: 33.3%
	padding: 0 2.5rem 
	margin-bottom: 5rem
	+r(1024)
		padding: 0 1rem 
		margin-bottom: 2rem
	+r(768)
		width: 50%
	+r(480)
		width: 100%
.post
	display: block
	width: 100%
	padding-bottom: 3.5rem
	text-align: center
	color: $text 
	background: #fff 
	box-shadow: 0 1px 3px rgba(#000,.25)
	&__media
		position: relative
		display: block
		margin: 0 0 2.8rem 
		padding: 48% 0
		overflow: hidden 
		+r(768)
			padding: 40% 0 
	&__img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+cover
		+tr(transform .3s)
		&:hover
			transform: scale(1.1)
	&__text
		font-size: 1.3rem
		color: #666 
		line-height: 1.9
		a
			color: #666
			+tr(color .3s)
			&:hover
				color: $primary
	&__name
		font-size: 1.75rem
		color: #000
		min-height: 5rem
		line-height: 1
		+r($md)
			min-height: 4rem
			font-size: 1.6rem
		a
			color: #000 
	&__subtitle
		color: $tag
		text-transform: uppercase  
		font-size: 1rem
		letter-spacing: 2px
		+roboto
		+reg
	.tags
		a
			display: block
			margin-top: 1rem 
			line-height: 1
			&:after
				display: none
	&__company-name
		margin-top: 2rem 
		display: block
		font-size: 1.2rem 
		color: $primary
		transition: color .3s
		&:hover
			color: $dark
	&__loc
		margin-top: 1rem 
		display: inline-block
		font-size: 1.2rem
		color: $tag 
		i
			vertical-align: middle
		span
			display: inline-block
			vertical-align: middle
				 
	.cat
		display: inline-block
	&__title
		margin: 1rem 0 0 
		padding: 0 2rem 
		font-size: 1.4rem
		+reg
		line-height: 1.4
		+tr(color .3s)
		a
			color: $text
			+tr(color .3s) 
			&:hover
				color: $primary 
	&_no-img
		padding-top: 3.5rem 
		margin-bottom: 4rem
	&_link
		padding-bottom: 1.3rem 
		.post__media
			padding: 25% 0
			margin-bottom: 1.3rem
		&:hover
			.post__img
				transform: scale(1.1)
			.post__title
				color: $primary 
.post_large	
	overflow: hidden
	position: relative
	margin-bottom: 4rem
	display: flex 
	+r($xs)
		display: block
	.post__main
		float: left
		padding: 3.5% 2%
		width: 26%
		order: 1
		+r($md)
			width: 30%
		+r($sm)
			width: 50%
		+r($xs)
			width: 100%
			float: none
			position: static
			display: block
	.post__media
		position: absolute
		right: 0
		left: 26%
		top: 0
		bottom: 0
		padding: 0
		margin: 0
		order: 2
		+r($md)
			left: 30%
		+r($sm)
			left: 50%
		+r($xs)
			position: relative
			width: 100%
			padding: 25% 0 
			left: 0
		+r($xxs)
			padding: 35% 0 
	.post__title
		margin: 1.8rem 0 1.5rem
		font-size: 2rem
		padding: 0
		+r($xs)
			font-size: 1.8rem
			margin: 1.2rem 0 1rem 
.post_small
	padding: 2.2rem
	.post__media
		padding: 33% 0
		margin-bottom: 1.3rem 
.text-post
	color: #999
	padding-top: 3.6rem
	font-size: 1.3rem
	+sbold
	line-height: 1.8 
	border-top: 3px solid $btnLink
	.title
		margin-bottom: 1.5rem
		min-height: 5.5rem
		+r(900)
			min-height: auto
	.btn
		margin: 2.5rem 0 1.3rem
.links
	color: $meta
	font-size: 1.3rem
	+reg
	text-align: center
	&__item
		margin-bottom: .3rem
	a
		color: $meta
		+tr(color .3s)
		&:hover
			color: $primary 
	span
		display: block
		font-size: 1.1rem
	&__title
		margin-bottom: 2rem 
		color: $link
		font-size: 1.8rem
	&__list
		li
			margin-bottom: 1rem
		a
			color: $link 
			font-size: 1.5rem
		.meta
			font-size: 1.3rem
			color: $meta
			text-transform: none
			display: inline-block  
			letter-spacing: 0
	&_secondary
		margin-top: 2.5rem
		text-align: left
		
.note
	margin-bottom: 3.5rem
	font-size: 1.1rem
	color: $note
	+reg
	line-height: 1.45
	&_border
		border-top: 1px solid $border
		padding-top: 2rem 
	&__title
		margin-bottom: 0.6rem
		font-size: 1.6rem
		+light
	.title
		color: $note 
	a
		color: $note
		+tr(color .3s)
		border-bottom: 1px solid
		text-decoration: none 
		&:hover
			color: $primary 
.btn-text
	display: inline-block
	font-size: 1.2rem
	letter-spacing: 2px 
	background: none
	line-height: 1.2
	+reg
	color: #fff 
	text-transform: uppercase 
	span
		border-bottom: 1px solid transparent
		+tr(border .3s)
	&:hover
		span
			border-color: #fff 

			

			
		