.footer
	padding: 3rem 0 3rem 14rem
	color: $meta 
	+r(1100)
		padding-left: 0
	.container
		max-width: 107rem
		+clr
	&__info
		overflow: hidden
		text-align: right
		+r(1160)
			text-align: left
	&__copy
		display: inline-block
		vertical-align: text-top
		+ .soc
			margin-left: 5%
	&__counter
		display: inline-block
		vertical-align: middle
		margin: 0 5% 
.menu
	float: left
	font-size: 1.3rem
	white-space: nowrap
	+r(1160)
		float: none
		margin-bottom: 1rem
		white-space: normal
	&__item
		display: inline-block
		margin-right: 2.5%
		vertical-align: middle
		&:last-child
			margin-right: 0
	&__link
		display: block
		padding: .5rem 0 
		color: #747474
		+tr(color .3s)
		&:hover
			color: $primary
.soc
	display: inline-block
	vertical-align: middle
	white-space: nowrap
	font-size: 1.6rem
	a
		display: inline-block
		vertical-align: middle
		margin-left: 1.5rem
		color: $meta
		&:first-child
			margin-left: 0
	&__fb
		&:hover
			color: #3b5998
	&__vk
		&:hover
			color: #4c75a3
	&__ig
		&:hover
			color: #3b5998