.field
	display: block
	margin-bottom: 2.2rem
	&__title,
	&__body
		display: block
		position: relative
		span
			&.is-error
				position: absolute
				right: 0
				top: -2.2rem
				line-height: 1
				color: $primary 
				font-size: 1.4rem
				+r($xs)
					top: 5.2rem
					font-size: 1.2rem
				+ .select2
					.select2-selection 
						border-color: $primary 
	&__title
		display: block
		margin-bottom: .5rem
		font-size: 1.5rem
		+sbold
		color: #000 
.input-text
	height: 5rem
	line-height: 5rem
	font-size: 1.6rem
.input
	display: block
	width: 100%
	border: 2px solid $border
	padding: 0 1rem 
	height: 5rem
	+reg
	font-size: 1.6rem
	+tr(border .3s)
	text-overflow: ellipsis
	&:focus
		border-color: darken($border, 15%)
		+ label
			&.is-error
				display: none
	&.is-error
		border-color: $primary 
	&_textarea
		padding: 1rem 
		height: 11.2rem
		resize: none
	+ label
		position: absolute
		left: 1rem
		top: 0
		bottom: 0
		line-height: 5rem
		color: $primary 
		display: none !important
.input-date
	position: relative
	&:after
		position: absolute
		right: 1rem
		top: 50%
		z-index: 2
		content: $i-icon-date 
		+icon
		margin-top: -1rem
		color: $dark
		font-size: 2rem
		pointer-events: none
	input
		padding-right: 4rem
.checkbox
	position: relative
	display: inline-block
	height: 5rem
	min-height: 5rem
	+vertical
	color: $dark
	+reg
	cursor: pointer
	&__text
		display: inline-block
		vertical-align: middle
		position: relative
		padding-left: 3rem
		font-size: 1.6rem
		+nosel
		i
			position: absolute
			top: 0
			left: 0
			border: 2px solid $border
			width: 2.2rem
			height: 2.2rem
			&:before
				display: none
				position: absolute
				left: 50%
				top: 50%
				margin: -.8rem 0 0 -.8rem 
				content: $i-icon-checkbox
				+icon
	input
		position: absolute
		opacity: 0
		&:checked
			+ span
				i
					&:before
						display: block
.btn
	display: inline-block
	padding: 1.3rem 2rem
	min-width: 17rem
	font-size: 1.3rem
	text-transform: uppercase
	+bold 
	text-align: center
	background: $btn
	color: #fff 
	+tr(background .3s)
	letter-spacing: 1.5px
	+r(768)
		padding: 1.1rem 1.5rem
		min-width: 15rem
		font-size: 1.2rem  
	&:hover
		background: darken($btn, 10%)
	&_second
		background: $btnSecond
		&:hover
			background: darken($btnSecond, 10%)
	&_third
		background: $btnThird
		&:hover
			background: darken($btnThird, 10%)
	&_fourth
		background: $btnFourth
		&:hover
			background: darken($btnFourth, 10%)
	&_big
		padding: 1.9rem 3rem
		min-width: 27rem
		font-size: 1.6rem 
		+r(768)
			padding: 1.5rem 2rem 
			min-width: 22rem
			font-size: 1.5rem
		i
			margin-right: 1.2rem
			font-size: 2rem
	&_med
		padding: 1.6rem 2rem 
		max-height: 5rem
	&_fluid
		padding-left: 1rem
		padding-right: 1rem
		display: block
		width: 100%
	&_min
		min-width: 26rem
	&_no-bg
		border: 2px solid #fff
		color: #fff 
		background: none
		transition: color .3s
		&:hover
			color: #000
			background: #fff  
	&_tag
		border: 2px solid $tag
		color: $tag
		background: none
		transition: color, border-color, .3s
		&:hover
			color: #fff
			border-color: $primary
	i
		margin-right: 0.8rem
		font-size: 1.8rem
		vertical-align: middle
.btn-action
	display: inline-block
	border: 2px solid
	padding: 1.6rem
	min-width: 22rem
	text-align: center 
	background: none
	color: #bfbfbf 
	font-size: 1.4rem
	+bold
	line-height: 1
	text-transform: uppercase
	letter-spacing: 1.5px 
	transition: color, background, border, .3s
	+r(768)
		padding: 1.5rem
		font-size: 1.3rem
		min-width: 18rem 
	&:hover
		color: $text
	&_fluid
		display: block
		width: 100%
		text-align: center
				
	.ui-datepicker-header
		background: $primary
.ui-datepicker
	background: #fff
	color: $text  
	z-index: 5 !important
	width: 30rem
	border: none
	padding: 0 1rem 1rem
	box-shadow: 0 0 9px rgba(#000, .3)
	table
		font-size: 1.5rem
	td
		a
			color: $text 
			text-align: center
			padding: .5rem 
			margin: .3rem
			border-radius: 30%
			&:hover
				color: $primary 
			&.ui-state-active
				background: $text
				color: #fff
			&.ui-state-highlight
				background: #ff6d6d
				color: #fff
	thead
		span
			text-transform: uppercase
			font-size: 1.1rem
			+opensans
			+sbold
	.ui-datepicker-other-month
		color: $tag
	.ui-datepicker-week-end	
		a
			color: $primary
		span
			color: $primary
	.ui-datepicker-prev
		text-align: center
		line-height: 1.8rem
		width: 1.8rem
		height: 1.8rem
		cursor: pointer 
		color: #fff
		left: 3rem
		top: 50%
		margin-top: -.9rem
		transition: color, left, .3s
		&:hover
			color: rgba(#fff,.5)
		&:active
			left: 2.8rem
		&:before
			content: $i-icon-prev
			display: inline-block
			vertical-align: middle 
			font-size: 1.6rem	
			+icon
	.ui-datepicker-next
		text-align: center
		line-height: 1.8rem
		width: 1.8rem
		height: 1.8rem
		cursor: pointer 
		color: #fff
		right: 3rem
		top: 50%
		margin-top: -.9rem
		transition: color, right, .3s
		&:hover
			color: rgba(#fff,.5)
		&:active
			right: 2.8rem
		&:before
			content: $i-icon-next
			display: inline-block
			vertical-align: middle 
			font-size: 1.6rem	
			+icon
	.ui-datepicker-header
		margin: 0 -1rem
		background: $primary
		padding: 1.5rem 3rem
		color: #fff
		+sbold
		font-size: 1.4rem


.form
	margin-bottom: 2rem
	border-bottom: 1px solid $border
	padding-bottom: 1.5rem
	+clr
	&__col
		float: left
		margin-left: 8%
		width: 46%
		+r($sm)
			width: 100%
			margin: 0
		&:first-child
			margin-left: 0
	.btn
		margin-top: 3.5rem
		+r($sm)
			margin-top: 2rem
.select2-dropdown
	border: 1px solid #b5b5b5
	&.select2-dropdown--below
		margin-top: 1px 
		border-top: 1px solid #b5b5b5
	&.select2-dropdown--above
		margin-top: -2px 
		border-bottom: 1px solid #b5b5b5
.select2-container--default 
	.select2-results
		&__option
			padding: .7rem 1rem 
			font-size: 1.4rem
			+light
			&[role="group"]
				position: relative
				margin-bottom: 1.5rem
				padding-bottom: 1.5rem
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: 1rem 
					right: 50%
					height: 1px
					background: $border
				.select2-results__option
					padding-left: 1rem
.inline-datepicker
	max-width: 97rem
	margin: 0 auto
	+r(1200)
		max-width: 84rem
	.hasDatepicker
		margin: 1rem 0 6rem
	&_small
		.hasDatepicker
			margin: 0
		.ui-datepicker-inline 
			table 
				.ui-state-default
					font-size: 1.2rem
					width: 3rem
					height: 3rem
					line-height: 3rem
				.ui-datepicker-other-month,
				.ui-datepicker-unselectable
					.ui-state-default
						font-size: 1.2rem
						&:after
							font-size: 1rem
					&.ui-datepicker-today 
						.ui-state-default
							font-size: 1.2rem !important
					&.is-busy
						.ui-state-default
							&:after
								font-size: 1.8rem
				th
					border: 0
					padding-bottom: 0
					font-size: 1.1rem
					color: #3a3a3a 
				tbody 
					tr:first-child 
						td
							padding-top: 1.3rem
		.ui-datepicker-header
			background: $primary
			padding: 0
			.ui-datepicker-title
				color: #fff 
				padding-bottom: 0
				height: 5rem
				line-height: 5rem
				font-size: 1.4rem
			.ui-datepicker-next,
			.ui-datepicker-prev
				top: 0
				background: none
				color: #fff
				&:before
					font-size: 2rem
				&:hover
					background: none
			.ui-datepicker-prev
				left: 1.5rem
			.ui-datepicker-next
				right: 1.5rem 
		.ui-datepicker-week-end 
			.ui-state-default, span
				color: $primary 
.ui-datepicker-inline
	position: relative
	width: 100% !important
	margin: 1rem auto
	border: 0 
	color: #1f1f20 
	box-shadow: none
	.ui-datepicker-next,
	.ui-datepicker-prev
		position: absolute
		top: 47%
		width: 4rem
		height: 6rem
		line-height: 6rem
		text-align: center
		color: #6d6d71 
		background: none
		transition: background, color, .3s
		&.ui-state-disabled
			display: none !important
		&:before
			vertical-align: middle
			display: inline-block
			font-size: 4.8rem
		&:hover
			color: $dark
		span
			display: none
	.ui-datepicker-next
		right: -3.5rem
		&:before
			content: $i-icon-next 
		&:active
			right: -3.5rem
		+r(992)
			right: 0
			top: 0
			margin: 0
	.ui-datepicker-prev
		left: -3.5rem
		&:before
			content: $i-icon-prev 
		&:active
			left: -3.5rem
		+r(992)
			left: 0
			top: 0
			margin: 0
	.ui-datepicker-title
		padding-bottom: 2rem
		font-size: 1.9rem
	.ui-datepicker-header
		position: static
		background: none
		font-size: 1.9rem
		color: $text
		+reg
	&.ui-datepicker-multi 
		.ui-datepicker-group
			padding: 0 4rem
			+r(1200)
				padding: 0 2rem 
			table
				width: 100%
	table
		font-size: 1.4rem
		width: 100%
		text-align: center table
		th
			padding: 1.5rem 1rem
			font-size: 1.4rem
			+bold
			text-transform: uppercase
			color: #c3c3cc 
			&.ui-datepicker-week-end
				color: #ff6d6d
		thead
			th
				border-bottom: 1px solid #ebebeb 
		tbody
			tr
				&:first-child	
					td
						padding-top: 1.6rem
		td
			padding: 2px 0
			text-align: center
			vertical-align: middle
			&:first-child,
			&:last-child	
				width: 4rem
			.ui-state-active
				background: $primary
		.ui-state-default
			padding: 0
			position: relative
			display: inline-block
			width: 4rem
			height: 4rem
			border-radius: 10px 
			text-align: center
			line-height: 4rem
			+tr(color .3s)
			+sbold
			font-size: 1.4rem
		.ui-datepicker-today
			.ui-state-default
				background: #ff6d6d
				color: #fff   
			.ui-state-active
				background: #ee3b37
				color: #fff   
		.ui-state-active
			background: $primary 
			color: #fff 
			+reg
		
		.ui-datepicker-other-month,
		.ui-datepicker-unselectable
			.ui-state-default
				border: 0
				color: #ccc 
				font-size: 1.4rem
				&:after
					display: none
			&.ui-datepicker-today
				.ui-state-default
					border: 0 !important
					font-size: 1.4rem !important
					color: #ccc
					&:after
						font-size: 0 !important
			&.is-busy
				position: relative
				&:hover
					&:after
						opacity: 1
				&:after
					content: "Резерв" 
					opacity: 0
					position: absolute
					top: 100%
					left: 0
					z-index: 2
					background: #fff
					margin: 8px 0 0 
					padding: 0 2.3rem
					line-height: 4.8rem
					font-size: 1.3rem
					border-radius: 5px
					box-shadow: 0 0.2rem 0.7rem rgba(34, 31, 31, 0.3) 
					transition: opacity .3s
					pointer-events: none
				// &:before
				// 	content: ""
				// 	position: absolute
				// 	left: 50%
				// 	margin-left: -5px
				// 	top: 100%
				// 	z-index: 1
				// 	+arr(2,1,#fff,t) 
				.ui-state-default
					background: #ebebee
					border: 0
					font-size: 0
					&:after
						content: $i-icon-checkbox
						+icon
						display: inline-block
						vertical-align: middle
						font-size: 2rem
						color: #fff 
.order-form
	padding: 3rem 4rem 0
	position: relative
	+r($md)
		padding: 3rem 1rem 
	+r($sm)
		padding: 3rem 0 10rem
	.col-60,
	.col-40
		+r($sm)
			width: 100%
	.col-60
		> .row
			&:last-child
				+r($sm)
					position: absolute
					left: 0
					top: 100%
					right: 0
					margin-top: -10rem
	.col-50
		+r($xs)
			width: 100%
			&:first-child
				margin-bottom: 1.2rem
.calendar-date
	position: absolute
	top: -1rem
	left: 0
	right: 0
	font-size: 1.8rem
	text-align: center
.tip
	position: absolute
	transform: translateX(-34%) translateY(120%)
	z-index: 5
	border: 2px solid #c3c3c3
	padding: 2rem 3.3rem
	font-size: 1.2rem
	text-transform: uppercase
	color: rgba($btnLink, .67)
	text-align: center
	+bold
	max-width: 32rem 
	background: #fff
	letter-spacing: 2px 
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	+r($sm)
		display: none
	&.is-active	
		opacity: 1
		visibility: visible
	&:before
		content: ""
		position: absolute
		left: 50%
		top: -1.4rem
		margin-left: -1.2rem
		+arr(2.4,1.4,#c3c3c3,t)
	&:after
		content: ""
		position: absolute
		left: 50%
		top: -1rem
		margin-left: -1rem
		+arr(2,1.1,#fff,t)
	&[data-target]
		cursor: pointer
		+nosel


