.row
	+clr
	margin: 0 -.6rem 1.2rem
	+r(480)
		margin: 0 -1.5rem 1.2rem
	> div
		padding: 0 .6rem 
		float: left
		+r(480)
			padding: 0 1.5rem 
@for $i from 1 through 100
	.col-#{$i}
		width: 1% * $i
.row_spaces
	margin: 0 -2rem
	+r(768)
		margin: 0 -1rem 
	> div
		padding: 0 2rem 
		+r(768)
			padding: 0 1rem 
.row_marg-4
	margin-top: 4rem
.col
	&.float-right
		float: right
.col-wrap
	.col
		+r($sm)
			float: none
			width: 100%
.col-wrap-xs
	.col
		+r($sm)
			width: 50%
		+r($xs)
			float: none
			width: 100%