.banner-box
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden
	&__item
		height: 80rem
		overflow: hidden
		+r(1023)
			height: 100vh
			min-height: 50rem
		img
			width: 100%
			height: 100%
			object-fit: cover
			+r(768)
				height: 100%
				min-height: auto
				min-width: auto
	&__in
		position: absolute
		top: 0
		right: 0
		left: 0
		height: 100%
		+vertical
		&:before
			+r(1023)
				display: none
	&__bottom
		position: absolute
		bottom: 0
		right: 3.5rem
		text-align: right
		height: 5rem
		+r(640)
			padding-bottom: 2rem
			right: 1rem
			left: 1rem
			height: auto 
			text-align: left
	&__prev,
	&__next
		position: absolute
		top: 0
		height: 100%
		width: 10rem
		background: none
		z-index: 2
		+r(1023)	
			width: 4rem
		+r(768)
			display: none
		.i-icon-prev,
		.i-icon-next
			font-size: 4.4rem
			color: #fff 
			+r(1023)
				font-size: 2rem
	&__prev
		left: 0
	&__next
		right: 0
	.slick-dots
		position: absolute
		left: 0
		right: 0
		bottom: 1.5rem
		text-align: center
		li
			display: inline-block
			vertical-align: middle
			padding: 7px
		button
			+hide-text
			width: 1rem
			height: 1rem
			border-radius: 50% 
			background: rgba(#fff,.4) 
		.slick-active
			button
				background: #fff
	.title_big
		+r(1023)
			font-size: 3rem
		+r(768)
			font-size: 2.5rem
	.subtitle
		+r(768)
			font-size: 2rem
	.info-small
		+r(640)
			display: block

.search-wrap
	position: relative
	height: 80rem
	padding: 23% 0 5%
	// padding-left: 14rem 
	// +r(1100)
	// 	padding-left: 0
	+r(768)
		padding: 8rem 0 1rem
	&_second
		padding: 0
		height: 80rem
		+r(1023)
			height: 100vh
			min-height: 50rem
	
			
.search
	position: relative
	margin: 0 auto 
	max-width: 88rem
	&_in
		max-width: 100%
		.search__main
			padding: 0 0 2.5rem 
			+r($xxs)
				padding-bottom: 1.5rem  
		.btn
			min-width: 100%
			padding: 1.3rem 3rem
	&_second
		display: inline-block
		vertical-align: middle
		max-width: 67rem
		+r(1023)
			display: block
			padding: 0 1rem 
			margin-top: 5rem
		.search__main
			padding: 0
			background: rgba(#000,.18)
			box-shadow: 0 3px 77px 45px rgba(#000,.18)
			border-radius: 40%
		
	&__main
		padding: 7.3rem 3rem 2.5rem
		background: #fff 
		+r(768)
			padding: 6rem 2rem 2.5rem
		.col
			+r(900)
				width: 50%
				margin-bottom: 1.2rem
			+r(540)
				width: 100%
		.row
			+r(900)
				margin-bottom: 0
	&__nav
		padding: 1.5rem 3rem 
		background: rgba(#fff, .75) 
		+clr
		+r(768)
			padding: 1.5rem 2rem 
	&__list
		float: left
		width: 33%
		padding-left: 3rem
		font-size: 1.2rem
		+reg
		+r(640)
			width: 50%
			padding-left: 0
		+r(480)
			width: 100%
		&:first-child
			padding-left: 0
		li
			margin-bottom: 0.7rem
		a
			display: inline-block
			text-decoration: underline
			margin-right: 0.5rem 
			color: #ff0019
			+sbold
			&:hover
				text-decoration: none
		span
			color: #666 
	.logo
		height: auto
		position: absolute
		top: -16.5rem
		left: 0
		right: 0
		text-align: center
		+r(768)
			top: -8.8rem 
			img
				max-width: 18rem
.logo-group
	position: relative
	height: 14rem
	line-height: 14rem
	.title
		float: left
		width: 13rem
		text-align: right
		margin-bottom: 0
		+r(1024)
			text-align: left
			width: 10rem
	.btn-prev,
	.btn-next
		position: absolute
		right: 1rem
		top: 50%
		margin-top: -1rem
	&__main
		overflow: hidden
		padding: 0 4rem 
	&__slider
		+rm(1024)
			display: table
			width: 100%
			> div
				display: table-cell
				vertical-align: middle
				max-width: 20%
				height: 14rem
				line-height: 14rem
				img
					vertical-align: middle
	.slick-slide
		height: 14rem
		line-height: 14rem
		text-align: center
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
	.slick-dots
		line-height: 1
		position: absolute
		left: -14rem
		right: -4rem
		bottom: 1rem
		text-align: center
		li
			display: inline-block
			vertical-align: middle
			padding: .5rem 
			&.slick-active
				button
					background: $primary 
		button
			+hide-text
			width: .8rem
			height: .8rem
			background: none
			border: 1px solid $primary
			border-radius: 50%
.feedback
	margin: 4.2% auto 
	border-top: 1px solid $border 
	padding: 4.2% 0 0 
	max-width: 55rem
	text-align: center
	+r(768)
		margin-top: 0
	&__list
		li
			margin-bottom: 0.6rem
	[href*="tel"]
		color: $text
		font-size: 1.5rem
	[href*="mail"]
		color: $meta
		font-size: 1.4rem
	a
		+tr(color .3s)
		&:hover
			color: $primary 
.steps-wrap
	+cover
	+clr
.steps
	display: flex
	padding: 6.4rem 0 6rem 
	height: 42rem
	font-size: 1.6rem
	line-height: 1.3
	+r(900)
		display: block
		height: auto
		padding: 3rem 0 
	+r(768)
		font-size: 1.4rem
	&__item
		position: relative
		padding: 0 1rem 0 
		text-align: center
		color: #fff 
		align-self: flex-start 
		+r(900)
			display: inline-block
			padding: 0 
			margin-bottom: 3rem
			vertical-align: top
		&:nth-child(2n)
			padding: 0 1rem 0
			align-self: flex-end 
			+r(900)
				padding: 0
			&:before
				top: -100%
				margin-top: 2.5rem
				transform: rotate(49deg)
		&:last-child
			&:before
				display: none
			+r(900)
				margin-bottom: 0
		&:before
			content: ""
			position: absolute
			top: 3.5rem
			left: 100%
			width: 2px
			height: 100% 
			background: rgba(#fff, .59) 
			transform: rotate(-49deg)
			+r(900)
				display: none
	&__number
		display: block
		margin: 0 auto 1rem
		border: 2px solid #fff
		width: 7.2rem
		height: 7.2rem 
		line-height: 6.8rem
		font-size: 2.5rem
		font-style: normal 
		+circle
		+r(900)
			display: table-cell
			vertical-align: middle
		+r(768)
			width: 5rem
			height: 5rem
			line-height: 4.6rem
			font-size: 2rem
	&__text
		+r(900)
			display: table-cell
			vertical-align: middle
			padding: 0 2rem

.about-us
	.row
		+r(900)
			font-size: 0
	.col
		+r(900)
			float: none
			display: inline-block
			vertical-align: top
			margin-bottom: 2rem
			width: 50%
		+r(480)
			display: block
			width: 100%
.btn-dropdown
	width: 100%
	position: relative
	&:hover
		.btn-dropdown__in
			background: $primaryDark
	&.is-active
		.btn-dropdown__in
			background: $primaryDark
		.dropdown
			visibility: visible
			opacity: 1
	&.is-second
		.btn-dropdown__in
			background: #463d37
		&:hover
			.btn-dropdown__in
				background: $dark
		&.is-active
			.btn-dropdown__in
				background: $dark



	&__in
		width: 100%
		display: block
		text-align: center
		color: #fff
		background: #d53531
		font-size: 1.8rem
		border-radius: 3px
		padding: 1.9rem 1rem 2.3rem
		transition: background .3s
		span
			display: inline-block
			vertical-align: middle
		i
			display: inline-block
			vertical-align: middle
			font-size: 12px
			color: #fff
			margin: 2px 0 0 5px
.dropdown
	border-radius: 3px
	background: #fff
	visibility: hidden
	opacity: 0
	transition: opacity .3s
	position: absolute
	z-index: 10
	top: 100%
	left: 0
	right: 0
	&__item
		border-bottom: 1px solid $tag
		&:last-child
			border-bottom: none
	&__link
		padding: 1.2rem 1.8rem 1.3rem 2.8rem
		display: block
		color: $text
		font-size: 1.6rem
		text-align: left
		+tr(color .3s)
		span
			position: relative
			display: inline-block
		&:hover
			color: $primary
	.badge
		position: absolute
		top: .4rem
		left: 105%
		min-width: 3.4rem
		span
			font-size: .9rem
.btn-dropdown-wrap
	width: 53rem
	margin: 0 auto
	+r(768)
		width: 100%
		padding: 0 1rem 
.info-small
	+clr
	display: inline-block
	vertical-align: top
	text-align: left
	margin-left: 2rem
	&__img
		float: left
		height: 3rem
		width: 3rem
		+circle
		background: #fff
		+vertical
		margin-right: .9rem
		padding: .3rem
		img
			width: 100%
			height: auto
			max-width: 100%
			display: inline-block
			vertical-align: middle

	&__right
		overflow: hidden
		text-align: left
	&__name
		color: #fff
		opacity: 1
		font-size: 1.3rem
		+opensans
		+reg
		transition: color .3s
		&:hover
			color: $tag
	&__about
		color: #c3c3cc
		font-size: 1.1rem
		+opensans
		+it
	&_link
		&:hover
			i
				color: $tag
			.info-small__name
				color: $tag
		i
			color: #fff
			font-size: 1.2rem
			margin-right: .5rem
			vertical-align: middle
			transition: color .3s
		.info-small__name
			display: inline-block
			vertical-align: middle






