
.banner
	padding: 1.8rem 0
	+cover
	img
		display: block
		margin: 0 auto 
		max-width: 100%
	&_in
		padding: 6.5rem 1.5rem 6.5rem 0
		+clr
		.nets
			float: right
.ad
	margin: 6rem 0 2.5rem
	display: block
	+r($sm)
		margin: 3rem 0 2rem
	img
		width: 100%
		height: auto
.tabs-parent
	margin-bottom: 0.8rem
	position: relative
	+ .section
		padding-top: 1.5rem
	.el-shadow
		display: none
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 3rem
		pointer-events: none
		background-image: linear-gradient(to left, rgba(#fff,.9), rgba(#fff,.1))
	.i-icon-caret-r
		position: absolute
		right: -.2rem
		top: 1.8rem
		font-size: 1.6rem
		z-index: 2
		color: #ccc 
		pointer-events: none 
	.scrollbar
		position: relative
		width: 100%
.tabs-parent_simple
	.el-shadow
		background-image: linear-gradient(to left, rgba(#fff,.9) 60%, rgba(#fff,.1))
	.i-icon-caret-r
		top: 1rem
.ps-active-x
	+ .el-shadow
		display: block
		
.tabs
	position: relative
	margin: 0 0 1.5rem 
	white-space: nowrap
	&__item
		display: inline-block
		margin-left: 2.5rem
		vertical-align: middle
		font-size: 1.1rem
		text-transform: uppercase
		letter-spacing: 1px
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 2rem
		&.is-active
			.tabs__link
				color: $primary 
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: 0
					right: 0
					height: 1px
					background: $primary  
		&.is-discount
			padding-left: 6%
			.tabs__link
				position: relative
				padding: .4rem 1.9rem .4rem 1.2rem 
				color: #fff
				background: $primaryLight 
				transition: background .3s
				&:before
					content: ""
					position: absolute
					top: 0
					left: -1.3rem
					+arr(1.4,1.3,$primaryLight,tr) 
					transition: border .3s
				&:after
					content: ""
					position: absolute
					bottom: 0
					left: -1.3rem
					+arr(1.4,1.3,$primaryLight,br)
					transition: border .3s
				&:hover
					color: #fff
					background: $primary
					&:before
						+arr(1.4,1.3,$primary,tr)
					&:after
						+arr(1.4,1.3,$primary,br)		
	&__link
		display: block
		position: relative
		padding: 1rem 0
		color: #333
		&:hover
			color: $primary 
.tabs_small
	+r($xxs)
		margin-bottom: 1.5rem
	.tabs__item
		font-size: 1.3rem
		text-transform: none 
		margin-left: 0
		padding-left: 5%
		&:first-child
			padding-left: 0
		&.is-active
			.tabs__link
				color: $primaryLight
				&:after
					background: $primaryLight
	.tabs__link
		&:hover
			color: $primaryLight
		
.tabs-wrap
	+clr
	.tabs
		overflow: visible
		text-overflow: initial
	.is-left
		float: left
		+r($xs)
			float: none
	.is-right
		float: right
		text-align: right
		+r($xs)
			float: none
			text-align: left
.tabs-second
	display: table 
	min-width: 100%
	margin-bottom: 2rem
	&__cell
		display: table-cell
		&:first-child
			.tabs-second__link
				border-left: none
		&.is-active
			.tabs-second__link	
				border-bottom: 1px solid $primary
				color: $primary
		
	&__link
		display: block
		padding: 1.9rem 2.5rem
		width: 100% 
		line-height: 1
		color: $dark
		text-transform: uppercase
		font-size: 1.1rem
		text-align: center
		border-top: 1px solid $border 
		border-bottom: 1px solid $border 
		border-left: 1px solid $border
		transition: color, border, .3s
		cursor: pointer
		&:hover
			color: $primary
		&:active
			color: $primary
			border-bottom: 1px solid $primary
		
		
.post-slider
	position: relative
	max-width: 86rem
	margin: 0 auto 
	+r($md)
		max-width: 89%
	.slick-list
		padding-top: 3px !important
		padding-bottom: 3px !important
		 
	.slick-slider
		margin: 0 -2rem 
	.slick-slide
		padding: 0 2rem 

.slide-prev,
.slide-next
	position: absolute
	top: 50%
	z-index: 2
	margin-top: -1.5rem
	width: 3rem
	height: 3rem
	background: #dbdbdb
	font-size: 0
	+tr(background .3s)
	&:hover
		background: darken(#dbdbdb, 10%)
	i
		vertical-align: middle
		font-size: 1.4rem
		color: #fff 
.slide-prev
	left: -5rem
	+r($md)
		left: -3rem
	+r($xs)
		left: -2rem
.slide-next
	right: -5rem
	+r($md)
		right: -3rem
	+r($xs)
		right: -2rem
.subscribe
	position: relative
	padding: 4% 0 6%
	overflow: hidden
	text-align: center
	&_secondary
		padding: 4% 0 0 0
		.subscribe__in
			+clr
			max-width: 100%
			margin: 0
			color: $dark
			font-size: 1.3rem
			overflow: visible
			+light
			text-align: left
			+r($xs)
				text-align: center			
		.subscribe__title
			font-size: 1.8rem 
			margin-bottom: 0
		.subscribe__input
			float: left
			border-bottom: 1px solid $border
			color: $meta 
			font-size: 1.3rem
			+r($md)
				margin-right: 2%
			+r($xs)
				float: none
			+placeholder
				+it
				color: $meta
		.btn
			float: right
			+r($xs)
				float: none
				text-align: center
				
	&__text
		float: left
		width: 50%
		padding-right: 5.5rem
		+r($md)
			width: 42%
			padding-right: 2rem
		+r($sm)
			width: 37%
			padding-right: 1rem
		+r($xs)
			width: 100%
			padding: 0 1rem 
	&__img
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		img
			display: block
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto
	&__in
		position: relative
		z-index: 2
		max-width: 53rem
		margin: 0 auto 
		color: #fff 
		font-size: 1.7rem
		line-height: 1.6
		+r($xs)
			font-size: 1.6rem
		p
			margin-bottom: 3.5rem
			+r($xs)
				margin-bottom: 2rem
	&__title
		margin-bottom: 1.5rem
		font-size: 2.7rem
		+r($xs)
			font-size: 2.2rem
	&__input
		text-align: center
		margin-right: 5rem
		background: none
		width: 24rem
		height: 5rem
		border-bottom: 1px solid #fff 
		color: #fff 
		font-size: 1.4rem
		+r($xs)
			display: block
			width: 100%
			margin: 0 0 2rem 0
			font-size: 1.6rem
		+placeholder
			+it
			color: #fff 
		&:focus
			+placeholder
				+hide-text
		
.yandex-add
	margin: 0 0 5rem
	padding: 1rem 0  
	border-top: 1px solid $border 
	border-bottom: 1px solid $border 
.meta
	font-size: .9rem
	text-transform: uppercase
	color: $meta 
	letter-spacing: 3px 
	strong
		margin-right: 1.5rem
		color: #c3c3cc 
.article
	padding: 2rem 0 0 
	font-size: 1.5rem
	line-height: 1.6
	color: #151515
	+light
	h1
		font-size: 3.4rem
		+reg
		+r($sm)
			font-size: 3rem
		+r($xs)
			font-size: 2.5rem 
		+r($xxs)
			font-size: 2.1rem
		+ p
			font-size: 1.6rem
			line-height: 2.2
			+r($sm)
				line-height: 2
			+r($xs)
				line-height: 1.7
	p
		margin-bottom: 2.1rem
		+r($sm)
			margin-bottom: 1.8rem
		+r($xs)
			margin-bottom: 1.5rem
	figure
		img
			display: block
			margin-bottom: 0.4rem
			max-width: 100%
			+r($md)
				max-width: 95% 
			+r($xs)
				max-width: 100%
	figcaption
		font-size: 1.1rem
		color: $meta 
	strong
		+reg
	.user
		float: left
		padding: 0 1rem 
		width: 19rem
		+r($xxs)
			float: none
.main
	padding-right: 26.5rem
	+r($md)
		padding-right: 0 
		padding-bottom: 22rem
		
.sidebar
	position: absolute
	top: 0
	bottom: 0
	width: 26rem
	right: -7rem
	padding: 2rem 1rem 
	background: #f9f9fa 
	+r($md)
		top: auto
		right: 0
		left: 0
		width: 100%
		height: 20rem
		
.img-slider
	margin: 2.5rem 0 
	.slide-next
		+r($md)
			right: 0
.user
	margin: 0 auto 
	max-width: 25rem
	text-align: center
	&__info
		font-size: 1.2rem
		color: $meta 
	&__title
		font-size: 1.8rem
.stat
	font-size: 1.1rem
	color: $meta  
	.mark
		span
			margin-left: 0
	span
		display: inline-block
		margin-left: 1rem
		vertical-align: middle
	i
		vertical-align: middle
		margin-right: .3rem 
		color: #D2D2D2 
		font-size: 1.2rem
		transition: color .3s
	a
		display: block
		transition: color .3s
		color: $tag
		&:hover
			color: $primary
			i
				color: $primary 
	em
		font-style: normal
		display: inline-block
		vertical-align: middle 
	&_secondary
		font-size: 1.6rem
		color: $tag 
		span
			margin-left: 3rem
		i
			font-size: 2.3rem 
.avatar
	margin: 0 auto 1rem
	width: 12.4rem
	height: 12.4rem
	+circle
	overflow: hidden
	img
		display: block
		width: 100%
		height: 100%
		+circle
.mark
	display: inline-block
	position: relative
	&__circle
		position: absolute
		left: 50%
		top: 50%
		font-size: 0
		margin: -1.1rem 0 0 -1.2rem
		z-index: 1
		 
	span
		position: relative
		z-index: 2 
		vertical-align: middle
		display: inline-block
		font-size: 1.1rem
		color: $primary
	&:after
		content: ""
		height: 0.2rem
		width: 0.2rem
		background: #fff
		top: 0
		right: 0.2rem

	
.title-link
	font-size: 1.5rem
	color: $dark
	display: block 
	text-transform: uppercase 
	transition: color .3s
	&:hover
		color: $primary
.post-action
	margin-top: 7rem
	border-top: 1px solid $border
	border-bottom: 1px solid $border
	padding: 2.2rem 0 2.2rem 1.5rem
	+r($sm)
		margin-top: 3rem
	.row
		margin-bottom: 0
	.title-link
		+r($sm)
			text-align: center
			margin-bottom: 1rem
	.text-right
		+r($sm)
			text-align: center !important
.link-icon
	display: inline-block
	font-size: 1.5rem
	color: $link
	transition: color .3s
	&:hover
		color: $primary
	i
		font-size: 2.2rem
		vertical-align: middle
	span
		display: inline-block
		vertical-align: middle
.share
	margin-left: 3rem
	display: inline-block
	vertical-align: middle 
.card
	position: relative
	+shadow
	+clr
	text-align: left
	+r($md)
		display: flex
		flex-direction: column
	&_secondary
		.card__in
			min-height: 25rem 
			margin-bottom: 1rem
			+r($md)
				min-height: 15rem
		.card__about
			color: $tag
			line-height: 2
			font-size: 1.1rem
			font-weight: 500 
		.stat
			margin-bottom: 3rem
			+r($xxs)
				margin-bottom: 2rem
	&__main
		float: left
		position: relative
		padding: 3.9% 2% 6% 5%
		width: 45%
		+r($md)
			order: 2
			width: 100%
			float: none
	&__media
		position: absolute
		overflow: hidden
		right: 0
		left: 45%
		top: 0
		bottom: 0
		padding: 0
		margin: 0
		order: 1
		+r($md)
			position: relative
			left: 0
			height: 20rem
			width: 100%
		+r($xs)
			height: 15rem
			
	&__img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+cover
		+tr(transform .3s)
		&:hover
			transform: scale(1.1)
	&__about
		margin-top: 2rem
		+sbold
		color: $meta
		font-size: 1.15rem 
		line-height: 1.65 
	&__in
		min-height: 20rem 
		+r($md)
			min-height: 13rem
	&.is-badged
		.card__main
			&:before
				content: $i-icon-flag
				position: absolute
				top: 3%
				right: 5%
				color: $primaryLight
				font-size: 1.2rem 
				+icon
	.tags
		min-height: 8rem 
		+r($xs)
			min-height: auto
			margin-bottom: 1rem
	.subtitle
		text-transform: capitalize 
.location
	margin: 1.2rem 0 2.5rem
	font-size: 1.2rem
	+light
	color: $meta
	&__in
		position: relative
		padding-left: 1.5rem  
		margin-bottom: 0.5rem
		&:last-child
			margin-bottom: 0
	span
		line-height: 1.2
	i
		position: absolute
		left: 0
	.i-icon-location
		font-size: 1.2rem
		top: .3rem
	.i-icon-metro
		font-size: 0.6rem
		top: .5rem

.subtitle
	+reg
	+opensans
	font-size: 1.9rem
	color: #000 
	line-height: 1.1
	transition: color .3s
	+r($sm)
		font-size: 1.6rem
	&_second
		display: inline-block
		color: $dark
		font-size: 2rem
		+light 
		transition: color .3s
		+r($sm)
			font-size: 1.7rem
		&:hover
			color: $primary
	&_link
		display: block
		&:hover
			color: $primary
	&_third
		color: #fff
		font-size: 2.6rem
		+roboto
		margin-bottom: 2.5rem

.tags
	a
		display: inline-block
		margin-right: 0.3rem
		color: $tag
		font-size: 1.1rem
		text-transform: lowercase 
		font-weight: 500 
		transition: color .3s
		line-height: 1.8
		+roboto
		letter-spacing: .5px
		&:after
			content: ","
			display: inline-block
			margin-left: -0.3rem
		&:last-child
			&:after
				display: none
		&:hover
			color: $primary
.price
	font-size: 1.8rem
	color: #000
	+sbold
	span
		font-size: 1.2rem 
		+reg
.card-wrap
	width: 100%
	font-size: 0
	+clr

.paginator
	ul
		font-size: 0
	&__item
		display: inline-block
		vertical-align: middle
		&:nth-child(5)
			+r($xxs)
				display: none
		&:nth-child(4)
			+r(374)
				display: none
		&.is-active
			.paginator__link
				color: $primary
				border-color: $primary
	&__link
		padding: 1.5rem 2rem
		display: block
		border-bottom: 1px solid transparent
		color: $meta
		font-size: 1.6rem
		transition: color .3s
		+r($xs)
			padding: 1.5rem 1.5rem
		+r($xxs)
			font-size: 1.3rem
		+r(374)
			padding: 1rem 1rem
		&:hover
			color: $primary
.nets
	&__item
		display: block
		margin: .5rem 0 
		width: 3.2rem 
		height: 3.2rem
		+round
		background: rgba($meta, .2)
		+vertical
		transition: background .3s
		cursor: pointer
		&:hover
			background: $meta 
	i
		vertical-align: middle
		font-size: 1.4rem 
		+icon
		color: #fff
.company
	padding: 2rem 3.5rem 1.8rem 3%
	margin: 0 -1rem 
	+clr
	&__img
		float: left
		max-width: 12.5rem
		+r($md)
			display: inline-block
			float: none
		+r($xs)
			display: block
			padding-left: 2rem 
		img
			width: 100%
			height: auto
	&__in
		float: left
		padding: 0  2rem 0 7% 
		font-size: 0
		+r(1200)
			padding-left: 5% 
		+r($md)
			display: inline-block
			float: none
		+r($xs)
			display: block
			padding: 0 2rem
	
	.tags
		margin: .9rem 0 1.3rem
	.btn
		margin-right: 1.2rem 
		+r($xxs)
			display: block
			margin-right: 0
			margin-top: 1rem
			
	&__right
		float: right
		text-align: right
		+r($md)
			float: none
			text-align: left
			display: block
			margin-top: 2rem
			padding-left: 2.5rem
	.price
		margin-top: 5rem
		+r($md)
			margin-top: 0
			margin-left: 3rem
			display: inline-block
		+r($xxs)
			display: block
			margin-left: -.5rem
			margin-top: 1rem
	.stat
		+r($md)
			display: inline-block
			
.title-badged
	position: relative
	font-size: 2.7rem
	color: #000
	span
		position: relative
	.badge
		position: absolute
		top: .5rem
		left: 105%
	i
		position: absolute
	&.is-link
		display: block
		transition: color .3s
		font-size: 2rem
		&:hover
			color: $primary

.badge
	position: relativew
	min-width: 3.5rem
	height: 1.4rem
	background: $primaryLight
	transform: skew(-35deg) 
	span	
		position: absolute
		transform: skew(35deg) 
		top: 1px
		left: 0
		right: 0
		text-align: center
		color: #FFF
		text-transform: uppercase
		font-size: 1rem 
		+roboto  	
.reviews-block
	padding: 0 17.7rem 
	text-align: center
	+r($sm)
		padding: 0 1rem
	+r($xxs)
		padding: 0
	&__title
		+clr
		.subtitle
			float: left
			+r($xs)
				font-size: 1.6rem 
		.btn-link
			float: right
	.btn
		margin: 7rem 0 7rem 8rem 
		+r($sm)
			margin: 3rem 0 3rem 8rem
		+r($xs)
			margin: 3rem 0 3rem 5rem   
	&.is-usual
		padding: 5rem  0 
		+r($md)
			padding: 3rem 0
		+r($sm)
			padding: 2rem 0 
		

		
	
.btn-link
	display: inline-block
	text-transform: uppercase 
	+bold
	font-size: 1rem 
	color: $meta
	transition: color .3s
	&:hover
		color: $primary
	&:active
		color: $primaryLight
.review
	margin-top: 4.5rem
	+clr
	&__left
		float: left
		margin-right: 2rem 
		+r($xxs)
			margin-right: 1rem
	&__right
		overflow: hidden
		padding: 1.5rem 0 0 .8rem 
		+r($xxs)
			padding: 1rem 0 0 0
	&__img
		overflow: hidden
		width: 6rem 
		height: 6rem
		+circle
		+r($xs)
			width: 5rem
			height: 5rem
		img
			width: 100%
			height: auto
	&__top
		+clr
		padding: 0 0 2.5rem .5rem 
		+r($xs)
			text-align: left
			padding-bottom: 1.5rem
	.mark
		float: left
		margin-top: 0
		margin-right: 1.5rem
		+r($xs)
			float: none
			display: inline-block
			text-align: left
	.meta
		float: right
		+r($xs)
			float: none
			display: block
			margin-top: 2rem
	&__name
		float: left
		color: #000 
		font-size: 1.4rem
		+r($xs)
			float: none
			display: inline-block
			text-align: left
	&__text
		color: #000 
		font-size: 1.4rem
		+light
		line-height: 1.7 
		text-align: left
	&.is-nophoto
		.review__img
			background: #f4f4f4
			position: relative
			&:before
				content: $i-icon-user
				position: absolute
				left: 50%
				top: 50%
				margin-top: -1.8rem
				margin-left: -1.8rem
				font-size: 3.6rem
				+icon
				color: $tag 
				+r($xs)
					font-size: 3.2rem
					margin: -1.6rem 0 0 -1.6rem 

.figured
	width: 22rem
	display: block
	overflow: hidden
	+clip-path
	&:hover
		img
			opacity: 0.9
	+r($xxs)
		width: 15rem
	&__in
		display: block
		width: 100%
		
	img
		width: 100%
		height: auto
		+tr(opacity .3s)
.event
	margin-top: 9.5rem
	+clr
	&__left
		float: left
		margin-right: 5.5rem 
		+r($sm)
			margin-right: 3rem
			margin-bottom: .5rem
	&__info
		overflow: hidden
		+r($xs)
			overflow: visible
	.subtitle
		margin-top: -0.3rem
		margin-bottom: 1.7rem
	&__text
		margin-top: 1.7rem
		font-size: 1.4rem
		line-height: 1.85
		color: #000
		+light  
	.share
		margin-left: 0
		margin-top: 2.5rem 
.intro
	+clr
	margin-top: 9.5rem
	+r($sm)
		margin-top: 5rem
	&:first-child
		margin-top: 0
	&__img
		float: left
		margin-right: 4rem
		width: 18rem
		height: 18rem
		overflow: hidden
		+circle
		+r($sm)
			height: 13rem
			width: 13rem
			margin-right: 2rem
		img
			width: 100%
			height: auto
	&__info
		overflow: hidden
		+r($xs)
			overflow: visible
	&__meta
		color: $meta
		+reg
		font-size: 1.4rem
		margin: 1rem 0 2rem 
	&__text
		font-size: 1.4rem
		line-height: 1.7
		color: #000
		+light
		p
			margin-top: 2.2rem
			+r($sm)
				margin-top: 1rem
			&:first-child
				margin-top: 0
	&_crsl
		margin: 0 auto
		text-align: center
		.intro__img
			float: none
			margin: 0 auto 1.5rem 
			height: 12.5rem
			width: 12.5rem 
		.intro__info
			overflow: visible 
		.subtitle
			font-size: 1.7rem
		.intro__meta
			font-size: 1.1rem
			margin-top: 0.7rem
			
.carte
	&__item
		position: relative
		min-height: 7.7rem 
		padding: 1.4rem 2rem 1.4rem 0 
		border-bottom: 1px solid $border
		&:first-child
			border-top: 1px solid $border
		.btn-photo
			position: absolute
			right: 0
			top: 1.9rem  
	&__name
		font-size: 1.5rem
		color: $dark
	&__info
		font-size: 1.1rem 
		color: $meta
		max-width: 90%
		+text-overflow  
.btn-photo
	background: none 
	display: block
	&:hover
		i
			color: $primary 
	i
		font-size: 1.5rem
		color: $tag
		transition: color .3s
.crsl-people
	margin: 0 12rem 7.5rem 12rem 
	+r($md)
		margin: 0 12rem 5rem 12rem
	+r($sm)
		margin: 0 16rem 3rem 16rem
	+r($xs)
		margin: 0 0 2rem  
	.slide-prev
		left: 0
	.slide-next
		right: 0
.gallery
	font-size: 0
	&__media
		display: block
		position: relative
		padding: 30.5% 0
		width: 100%
		overflow: hidden
		&:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: transparent
			transition: background .3s
		&:before
			content: $i-icon-camera
			+icon
			position: absolute
			left: 50%
			top: 50%
			font-size: 4.2rem   
			margin: -2.1rem 0 0 -2.1rem
			color: transparent
			transition: color .3s
			z-index: 3
			+r($sm)
				font-size: 3.6rem
				margin: -1.8rem 0 0 -1.8rem
		&:hover
			&:before
				color: #fff
			&:after
				background: rgba(#fff, .3) 
		&:active
			&:before
				color: #fff
			&:after
				background: rgba(#fff, .3) 
	&__img
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		img
			width: 100%
			height: auto
	&_masonry
		.gallery__media
			padding: 0
			height: auto
			overflow: visible
		.gallery__img
			position: static
			height: auto
			
.crsl-gallery
	.slide-prev,
	.slide-next
		height: 4.5rem
		width: 4.5rem
		top: auto
		margin-top: 0
		bottom: 0
		background: rgba(#000,.5)
		z-index: 4
		left: auto
		i
			font-size: 2.1rem 
	.slide-prev
		right: 4.5rem
	.slide-next
		right: 0
.info
	position: relative
	z-index: 5
	&__top
		text-align: center
		display: block
		padding: 4rem 0 3rem
		background: transparent
		transition: background .3s
		line-height: 2.26
		font-size: 1.5rem
		+light
		cursor: pointer
		&:hover
			background: rgba($tag,.3) 
			.info__btn
				span
					opacity: 0
					visibility: hidden 
				em
					opacity: 1
					visibility: visible 
	&__in
		margin: 0 auto
		max-width: 60.5rem 
		max-height: 17.5rem
		overflow: hidden
		transition: height .3s
		+r($xs)
			padding: 0 1.5rem 
	&__btn
		margin-top: 2rem 
		color: $tag
		+bold
		font-size: 0
		background: none 
		transition: opacity, height, .5s
		span
			opacity: 1
			visibility: visible
			display: block
			margin: 0 auto
			line-height: 1
			font-size: 1.5rem
		em
			font-style: normal 
			font-size: 1.1rem
			opacity: 0
			visibility: hidden
			line-height: 1
			+reg
			text-transform: uppercase 
	&__btn-close
		display: block
		padding: 2rem 0 
		width: 100%
		position: relative
		text-align: center
		font-size: 1.1rem
		text-transform: uppercase
		color: $tag
		background: #f8f7f8  
		transition: background, color, .3s
		line-height: 1
		&:before
			content: ""
			position: absolute
			left: 50%
			margin-left: -2.8rem
			top: -1.6rem
			+arr(5.6,1.7,#f8f7f8,t)
			transition: border .3s
		&:hover
			background: #dfdedf
			color: $primary
			&:before
				+arr(5.6,1.7,#dfdedf,t)
			
	&__body
		position: absolute
		top: 100%
		left: 0
		right: 0
		background: #FFF
		opacity: 0
		visibility: hidden  
		transition: opacity .3s
	&__text
		max-width: 85rem
		margin: 0 auto 3rem
		column-count: 2
		font-size: 1.4rem
		color: $dark 
		+light 
		+r($xxs)
			column-count: 1 
			padding: 0 1.5rem 
		p
			margin-bottom: 1.5rem
			padding: 0 3.5rem 
			line-height: 1.9
			+r($sm)
				padding: 0 2rem
			+r($xs)
				padding: 0 1rem
			+r($xxs)
				padding: 0
			&:last-child
				margin-bottom: 0
	&.is-active
		.info__top
			cursor: default
			padding-bottom: 0
			&:hover
				background: transparent 
		.info__btn
			opacity: 0
			visibility: hidden
			height: 0
		.info__in
			max-height: 100% 
		.info__body
			opacity: 1
			visibility: visible
.menu-in
	+shadow
	width: 26.2rem
	+r($sm)
		width: 100%
	&__li
		border-bottom: 1px solid $border
		border-top: 1px solid rgba(#fff,.5)
		&:first-child
			border-top: none
		&:last-child
			border-bottom: none
		&.is-active
			.menu-in__item
				background: #fff
				+sbold 
	&__item
		display: block
		padding: 1.6rem 2rem 1.4rem
		line-height: 1
		background: $menu-in
		color: #000
		+reg
		font-size: 1.4rem 
		transition: background .3s
		&:hover
			background: #FFF  
			
.window-slider
	position: fixed
	z-index: 10
	top: 0
	bottom: 0
	right: 0
	left: 14rem 
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	+r(1100)
		left: 0
	&.is-active
		opacity: 1
		visibility: visible
	.btn-close
		position: absolute
		z-index: 1
		top: 2rem 
		right: 3rem
		line-height: 1
		+r($xs)
			font-size: 3rem
			top: 1rem
			right: 1rem
	&__slide
		position: relative
		min-height: 100vh
		.dish
			position: absolute
			top: 5rem
			left: 8rem 
			+r($xs)
				top: 0
				left: 0
	&__img
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		overflow: hidden
		img, picture
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto 
	.slide-prev,
	.slide-next
		background: none
		+r($xs)	
			margin-top: 0
			top: 80%
		&:hover
			i
				color: $primary 
		i
			font-size: 4.4rem
			color: #FFF 
			transition: color .3s
	.slide-prev
		left: 0rem
		z-index: 3 
	.slide-next
		right: 3rem
		+r($xs)
			right: 1rem
	
.btn-close
	background: none
	color: #fff
	font-size: 4.8rem 
	transition: color .3s
	&:hover
		color: $primary 
.dish
	width: 35rem
	padding: 3rem
	text-align: center
	background: #fff
	+r($xs)
		padding: 1rem
		width: 27rem 
	&__logo
		display: block
		width: 11rem
		margin: 0 auto 4rem
		+r($sm)
			margin-bottom: 1rem
		img
			width: 100%
			height: auto
	&__title
		margin: 1.5rem 0 2rem 
		font-size: 2.4rem
		+light
		color: $dark
		line-height: 1.3
		+r($sm)
			font-size: 1.6rem
	&__text
		margin-bottom: 2rem
		color: $tag
		line-height: 1.65 
		font-size: 1.15rem
		+sbold
.panel-group
	margin-top: 3.5rem
.panel
	overflow: hidden
	&__head
		position: relative
		border-top: 1px solid $border
		> div
			position: relative 
			padding: 1.8rem 24.5rem 1.8rem 0
			+r($xs)
				padding-right: 5rem
				 
			.price
				position: absolute
				right: 6.5rem
				top: 50%
				margin-top: -1.5rem
				font-size: 1.7rem
				+r($xs)
					position: static
					margin-top: 2rem
			&:after
				content: $i-icon-caret-d 
				position: absolute
				right: 0
				top: 50%
				margin-top: -1rem
				+icon
				font-size: 2rem
				color: #535353 
				transform: rotate(180deg)
				+tr(transform .3s)
		.collapsed
			&:after
				transform: rotate(0)
	&__body
		padding: 1.3rem 0 2.6rem
		font-size: 1.4rem
		line-height: 1.7
		.btn-action
			margin-top: 1.5rem
	&__title
		margin-bottom: .5rem
		font-size: 1.8rem
		+reg
	&__info	
		font-size: 1.4rem
		color: $meta 
	&__collapse 
		+tr(height .3s)
		&.collapse
			display: none
			&.in
				display: block
		 
		
.table
	margin-top: 2.5rem
	margin-bottom: 1rem
	width: 100%
	font-size: 1.5rem
	+r($xs)
		font-size: 1.3rem
	&_small
		width: 50rem
		margin-left: auto 
		margin-right: auto 
		+r($sm)
			width: 100%
	tr
		&:nth-child(2n+1)
			background: #f5f5f7 

	td, th
		padding: .4rem 2rem
		text-align: center
		+r($xs)
			padding: .4rem .5rem 
		&:first-child
			text-align: left
		&:last-child
			text-align: right
	.price
		font-size: 1.5rem
.fancybox-overlay
	background: rgba(#000, .7) 
.fancybox-close
	top: .5rem
	right: .5rem
	&:hover
		&:before
			color: $primary 
	&:before
		content: $i-icon-close
		+icon
		font-size: 2rem 
		color: #FFF 
		transition: color .3s
.fancybox-skin
	padding: .1rem !important
	background: #FFF 
.fancybox-prev,
.fancybox-next
	width: 40%
	height: 100%
	position: absolute
	top: 0
	bottom: 0
	&:hover
		&:before
			color: $primary 
	&:before
		position: absolute
		top: 50%
		margin-top: -1rem
		color: #FFF
		+icon
		font-size: 2rem 
		vertical-align: middle
		transition: color .3s

		
.fancybox-prev
	left: 0
	&:before
		content: $i-icon-prev
		left: 1rem
.fancybox-next
	right: 0
	&:before
		content: $i-icon-next
		right: 1rem


			
			

	
	
