.nav-panel
	position: fixed
	top: 0
	left: 0
	bottom: 0
	padding: 10px 0 
	width: 14rem
	background: $primary
	z-index: 1000
	+tr(transform .3s)
	+r(1100)
		overflow-y: auto
		transform: translateX(-100%)
		&.is-active
			transform: translateX(0)
.nav-overlay
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 9
	background: rgba($text, .7)
	+tr(opacity .3s) 
	+r(1100)
		&.is-active
			opacity: 1
			visibility: visible
.logo
	display: block
	height: 110px
	margin-bottom: 10px
	+hide-text
	text-align: center
	img
		margin-top: 20px
.login-box
	+clr
	&__btn
		float: left
		width: 64%
		text-align: center
		height: 36px
		line-height: 36px
		color: #fff 
		background: #ff6460
		+tr(background .3s)
		&:first-child
			width: 36%
			background: $primaryDark 
			&:hover
				background: darken($primaryDark, 5%)
		&:hover
			background: darken(#ff6460, 5%)
.nav
	margin-top: 1px
	position: relative
	&__item
		//position: relative
		&:first-child
			.nav__link
				padding-top: 30px
		&:last-child
			.nav-dropdown
				top: auto
				bottom: 0
		&:hover
			.nav-dropdown
				display: block
	&__link
		display: block
		padding: 1rem 0 1.5rem
		text-align: center
		color: #fff
		font-size: 14px 
		background: transparent
		transition: background .3s
		&:hover
			background: $primaryDark
		img
			display: block
			margin: 0 auto 2px
	&_pp
		+clr
		margin: 0 -2rem
		.nav__item
			float: left
			width: 33.3%
			height: 8rem
			+r($xxs)
				width: 50%
			
			&:first-child
				.nav__link
					padding-top: 1rem
		.nav__link
			width: 100%
			height: 100%
			+vertical
			span
				display: inline-block
				vertical-align: middle
			em
				font-style: normal
				color: #fff
				font-size: 14px 

.nav-dropdown
	position: absolute
	top: 0
	left: 100%
	background: $navDropdown
	width: 24rem
	display: none
	+r(1100)
		display: none !important
	+ .nav-dropdown
		left: 38rem
		border-left: 1px solid #fff 
	li
		border-bottom: 1px solid rgba(#fff,.2)
		&:last-child
			border: 0
	a
		display: block
		padding: 1.3rem 1rem 1.3rem 2.8rem
		+opensans
		+reg
		font-size: 1.5rem
		color: #fff
		+tr(color .3s)
		&:hover
			background: darken($navDropdown, 5%)





.search-form
	position: relative
	&__input
		display: block
		padding: 0 36px 0 13px 
		width: 100%
		height: 36px
		background: $primaryDark
		+opensans
		+reg
		color: #fff 
		font-size: 1.6rem
		+placeholder
			color: #fff 
		&:focus
			+placeholder
				font-size: 0
	&__btn
		position: absolute
		right: 0
		top: 0
		width: 36px
		height: 36px
		line-height: 36px
		background: none
		color: #fff 
		span
			vertical-align: middle
.touch
	.search-form__input
		font-size: 1.6rem
.btn-nav
	display: none
	position: fixed
	top: 50%
	left: 0
	width: 3rem
	height: 5rem
	z-index: 10
	background: $primary 
	color: #fff
	font-size: 1.6rem
	+tr(transform .3s)
	+r(1100)
		display: block
		&.is-active
			transform: translateX(14rem)
			i
				+rotate(180)
	+r(480)
		width: 2.5rem
		height: 4.5rem
		font-size: 1.3rem
	i
		vertical-align: middle
		+tr(transform .3s)
