.btn-close
	position: absolute 
	top: 0rem
	right: 2rem
	z-index: 3
	&:hover
		i
			opacity: 1
	i
		font-size: 3rem
		color: #fff
		opacity: .6
		transition: opacity .3s

.popup
	position: fixed
	z-index: 10
	top: 0
	right: 0
	bottom: 0
	left: 0
	padding: 2rem 2rem 2rem 11.5rem
	+vertical
	visibility: hidden
	opacity: 0
	overflow-y: auto
	overflow-x: hidden
	+r(1100)
		padding-left: 2rem
	+r($xxs)
		padding: 0
	&.is-active
		opacity: 1
		visibility: visible
	.col
		+r(768)
			width: 100% 
	.col-50-xs
		+r($sm)
			width: 50%
		+r($xxs)
			width: 100%
			float: left
	.btn-action
		color: #fff
		&:hover
			border-color: #fff
			background: #fff
			color: $primary
	.i-icon-checkbox
		display: block
		font-size: 3rem
		color: #fff
		margin: 0 auto 1rem
	.select2-container
		.select2-selection
			border: none
			height: 4.4rem
			margin-top: 1.5rem
			border-radius: 2px
	.select2-dropdown
		.select2-dropdown--below
			border: none
			border-radius: 2px
			box-shadow: 0 0 3px rgba(#000,.4)
	.info-small
		display: block
		margin-left: 0
	&_white
		.popup__in
			background: #fff
		.popup__name
			color: $dark
		.btn-close
			i
				color: #000
		.textarea
			border: 1px solid $border
			border-radius: 0
			height: 10rem
			&:focus
				border-color: darken($border,15%)
		.popup__subtitle
			color: $dark
		.pp-input
			input
				border: 1px solid $border
				&:focus
					border-color: darken($border, 15%)
		&.popup_second
			.popup__in
				&:after
					+arr(3.9, 2.5, #fff,tl)
		.btn-action
			color: #bfbfbf
			&:hover
				color: $dark
				border-color: $dark
		.i-icon-checkbox
			color: #bfbfbf
		.pp-checkbox
			i
				border: 1px solid $border
				&:before
					background: $dark
		.pp-checkbox__text
			color: $dark
		.pp-list
			color: #b3b3c1
			opacity: 1
			li
				&:before
					color: #b3b3c1
		.link-action
			color: #cbcbd3
			border-color: #cbcbd3
	&_second
		+r($xxs)
			padding: 2rem
		.popup__in
			width: 45rem
			padding: 4.5rem 5rem 5rem
			text-align: center
			+r($xs)
				width: 100%
			+r($xxs)
				padding: 3.5rem 2rem 4rem
			&:after
				content: ""
				position: absolute
				left: 4.4rem
				top: 100%
				+arr(3.9, 2.5, $primary,tl)
		.popup__name
			font-size: 2.2rem
			text-align: center
			+r($xxs)
				font-size: 2rem
		.btn-action
			min-width: 13rem
	&_third
		.textarea
			height: 26rem
			+r($sm)
				height: 19rem
			+r($xs)
				height: 14rem
		.file-wrap
			margin-top: 2.5rem
			height: auto
			+clr
			&:before
				display: none
			+r($xs)
				margin-top: 5rem
			.file
				float: right
				position: relative
				text-align: left
				top: 1rem
				right: 0
				+r($xs)
					top: -4rem
					right: 0
					position: absolute
					bottom: auto
		.btn-action
			float: right
			min-width: 20rem
			margin-left: 2.8rem

	&__layout
		position: fixed
		z-index: 0
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(#000, .8)
	&__in
		width: 92.4rem
		position: relative
		z-index: 1
		padding: 6.5rem 7.5rem 6.5rem
		display: inline-block
		vertical-align: middle
		background: $primary
		text-align: left
		+r($md)
			width: 100%
		+r($sm)
			padding: 5rem
		+r($xxs)
			padding: 5rem 3rem 3rem
	&__name
		display: block
		font-size: 2.8rem
		margin-bottom: 3rem
		+opensans
		+bold
		color: #fff
		text-align: left
		&.no-marg
			margin-bottom: 1rem
	&__subtitle
		color: #fff
		font-size: 1.5rem
		+light
		+opensans
		text-align: left
		&.with-marg
			margin-bottom: 3.5rem
		&.is-inline
			display: inline-block
			vertical-align: middle
			font-size: 1.4rem
		a
			color: #fff
			display: inline-block
			border-bottom: 1px solid #fff
			transition: border .3s
			&:hover
				border-color: transparent
	&__logo
		text-align: center
		margin-bottom: 2.5rem
		+r($sm)
			margin: 2.5rem 0 2.5rem
		img
			max-width: 11rem
			height: auto
			display: inline-block
		&.is-big
			img
				max-width: 17rem
	&__bottom
		position: relative
		text-align: center
		margin-top: 4rem
		+r($xxs)
			margin-top: 2rem
		.link-action
			position: absolute
			right: 0
			bottom: 1rem
			+r($xxs)
				position: static
				display: inline-block
				margin-top: 1.5rem
		.btn-action
			+r($xxs)
				display: block
				margin: 0 auto
.pp-menu-wrap
	border: 1px solid rgba(#fff,.2)
	padding: 1.5rem 2rem 0
	margin-top: 3rem
	.popup__subtitle
		text-align: center
		margin-bottom: 1.5rem
.textarea
	height: 11rem
	text-align: left
	width: 100%
	background: #fff
	resize: none
	border-radius: 2px
	color: $dark
	font-size: 1.5rem
	+opensans
	+light
	padding: 1.5rem
	transition: border .3s
	border: 1px solid transparent
	+placeholder
		color: #5b5b5b
	&:focus
		border-color: $primaryDark
.file-wrap
	position: relative
	height: 4rem
	width: 100%
	&:before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		height: .3rem
		width: 7rem
		background: #666
		+r($xs)
			display: none
	.file
		position: absolute
		bottom: 0
		right: 1rem
		+r($xxs)
			right: 0
.file
	position: relative
	cursor: pointer
	&.is-active
		.file__title
			opacity: 1
			visibility: visible
	&:hover
		.file__btn
			i
				color: $text
	&__btn
		background: none
		cursor: pointer
		i
			font-size: 2.4rem
			color: $tag
			transition: color .3s
			cursor: pointer
	&__input
		position: absolute
		left: 0
		top: 0
		opacity: 0
		cursor: pointer
	&__title
		position: absolute
		visibility: hidden
		opacity: 0
		right: 4rem
		bottom: 0
		padding: 0 3rem 0 1rem
		width: 33rem
		height: 3.2rem
		line-height: 3.2rem
		border: 1px solid $border
		background: #fbfbfc
		font-size: 1.4rem
		transition: opacity .3s
		+reg
		+opensans
		white-space: nowrap
		+r($sm)
			width: 25rem
		+r($xxs)
			width: 22rem
		
	&__delete
		font-size: .9rem
		position: absolute
		top: 50%
		margin-top: -.45rem
		right: .9rem
		color: $tag
		transition: color .3s
		background: none
		&:hover
			color: $dark
	&__name
		color: $dark
		display: inline-block
		margin-right: .8rem
		max-width: 22rem
		font-size: 1.4rem
		+text-overflow
		vertical-align: middle
		+r($sm)
			margin-right: 0
			max-width: 15rem
		+r($xxs)
			max-width: 12rem
	&__size
		color: $tag
		display: inline-block
		vertical-align: middle
		&:before
			content: "("
			color: $tag
			display: inline-block
		&:after
			content: ")"
			color: $tag
			display: inline-block
			


.pp-list
	color: #fff
	text-align: left
	opacity: .7
	li
		position: relative
		padding-left: 4.3rem
		font-size: 1.5rem
		line-height: 1.3
		margin-bottom: 1.8rem
		+opensans
		+light
		+r($xxs)
			padding-left: 3rem
			margin-bottom: 1rem
		&:before
			content: $i-icon-checkbox
			+icon
			font-size: 2.6rem
			color: #fff
			position: absolute
			left: 0
			top: 50%
			margin-top: -1.3rem
			+r($xxs)
				font-size: 2rem
				margin-top: -1rem
.pp-input
	width: 100%
	margin-top: 1.5rem
	border-radius: 2px
	overflow: hidden
	input
		width: 100%
		height: 4.4rem
		padding: 0 1.5rem
		
		background: #fff
		font-size: 1.5rem
		color: $dark
		border: 1px solid transparent
		transition: border .3s
		+placeholder
			color: #5b5b5b
		&:focus
			border-color: $primaryDark
	&_small
		display: inline-block
		width: 5rem
		vertical-align: middle
		margin-left: .7rem
		margin-top: 0
		input
			padding: 0 .7rem
			+placeholder
				font-size: 1.3rem
.pp-input-wrap	
	text-align: right
	margin-top: 1.5rem
	+r($xxs)
		text-align: left
.wrap-in
	display: inline-block
	+r($sm)
		overflow: hidden
		display: block
	+r($xxs)
		overflow: visible
		
.checkbox-wrap
	font-size: 0
	margin-top: 1.5rem
	.popup__subtitle
		vertical-align: top
	.pp-link
		vertical-align: top
		margin-left: 2rem
	&.with-marg
		margin-bottom: 1.5rem
	&_sm
		+r($sm)
			+clr
		.popup__subtitle
			+r($sm)
				float: left
				margin-right: 2rem
			+r($xxs)
				float: none
		.pp-checkbox,
		.pp-link,
			+r($sm)
				width: 50%
				margin-left: 0
				margin-bottom: 1rem
			+r($xs)
				width: 100%

.pp-checkbox
	position: relative
	display: inline-block
	margin-left: 9%
	+reg
	cursor: pointer
	vertical-align: top
	&:first-child
		margin-left: 0
	+r($xxs)
		margin-left: 0
		display: block
		margin: 1rem 0

	&__text
		display: inline-block
		position: relative
		padding-left: 2rem
		font-size: 1.4rem
		color: #fff
		max-width: 13.5rem
		+nosel
		+r($xxs)
			max-width: 100%
		i
			position: absolute
			top: .2rem
			left: 0
			
			width: 1.4rem
			height: 1.4rem
			border-radius: 50%
			background: #fff

			&:before
				content: ""
				display: none
				position: absolute
				left: 50%
				top: 50%
				width: .6rem
				height: .6rem
				margin: -.3rem 0 0 -.3rem 
				border-radius: 50%
				background: $primary
	input
		position: absolute
		opacity: 0
		&:checked
			+ span
				i
					&:before
						display: block
	&.is-wide
		margin-left: 2rem
		+r($sm)
			margin-left: 0
		.pp-checkbox__text
			max-width: none
.link-action
	display: inline-block
	color: #fff
	border-bottom: 2px solid #fff
	transition: border .3s
	font-size: 1.4rem 
	+reg
	+opensans
	&:hover
		border-color: transparent
.pp-link
	display: inline-block
	font-size: 1.4rem
	color: #fff
	&:hover
		span
			border-color: transparent
	i
		font-size: 1.6rem
		color: #fff
		vertical-align: middle
		margin-right: .5rem
	span
		display: inline-block
		vertical-align: middle
		border-bottom: 1px dashed #fff
		line-height: 1
		transition: border .3s


