.top-panel
	position: relative
	margin: 0 0 4rem -14rem
	padding-left: 14rem
	height: 13rem
	line-height: 13rem
	background: url(../img/top-panel-bg.png)
	+cover
	+r(1100)
		margin-left: 0
	+r($sm)
		padding-left: 11rem
		height: 9rem
		line-height: 9rem
	+r($xs)
		padding-left: 9rem
		height: 7rem
		line-height: 7rem
	.container-fluid
		+clr
	.logo
		position: absolute
		left: 2.2rem
		top: 1rem
		+r($sm)
			margin: 0
			top: 1.3rem
			left: 1rem
			height: 6.5rem
		+r($xs)
			top: 1rem
			height: 5rem
		img
			+r($sm)
				margin: 0 
				height: 100%
				width: auto
	&__title
		float: left
		font-size: 3.9rem
		+light
		color: #fff
		+r($sm)
			font-size: 3rem 
		+r($xs)
			font-size: 1.8rem
	&__login
		float: right
		padding-top: 1.1rem
		color: #fff
		text-align: right
		font-size: 1.3rem
		+light
		+r($sm)
			padding-top: .5rem
		+r($xs)
			padding-top: .3rem
		> span
			+r($sm)
				display: none
		.btn-text
			margin-left: 2rem
			+r($xs)
				margin-left: 0
				font-size: 1rem
.checkbox-list
	margin-right: -1rem
	margin-bottom: 6.5rem
	font-size: 0
	+r($sm)
		margin-bottom: 4rem
	&__item
		display: inline-block
		vertical-align: top
		padding-right: 1rem
		width: 20%
		+r($sm)
			width: 33%
			margin-bottom: 3rem
		+r($xs)
			width: 100%
	+ .btn
		margin-bottom: 8.5rem
		+r($sm)
			margin-bottom: 4rem
.checkbox-icon
	position: relative
	display: inline-block
	font-size: 1.5rem
	+reg
	line-height: 1.3
	cursor: pointer
	+nosel
	input
		position: absolute
		visibility: hidden
		&:checked
			+ .checkbox-icon__text
				&:before
					background: $primary
					border-color: $primary
				&:after
					display: block
	&__img
		display: block
		height: 5rem
		text-align: center
		+r($xs)
			text-align: left
			padding-left: 4.2rem
	&__text
		display: block
		position: relative
		padding-left: 4.2rem
		&:before
			content: ""
			position: absolute
			left: 0
			top: .4rem
			border: 2px solid $border
			width: 2.2rem
			height: 2.2rem
			+circle 
		&:after
			content: $i-icon-checkbox
			position: absolute
			left: .3rem
			top: .7rem
			font-size: 1.7rem
			color: #fff 
			+icon