.select2-container
	width: auto
	display: block
	.select2-selection
		border: 2px solid $border
		padding: 0 4rem 0 1rem 
		height: 5rem
		border-radius: 0
		line-height: 4.6rem
		+tr(border .3s)
		.select2-selection__rendered
			line-height: 4.6rem
			padding: 0
			font-size: 1.6rem
		.select2-selection__arrow
			position: absolute
			top: 0
			bottom: 0
			right: 0
			width: 4rem
			height: 100%
			z-index: 2
			&:before
				position: absolute
				top: 50%
				margin-top: -.4rem
				right: 1.4rem
				content: $i-icon-caret-d
				+icon 
				color: #535353 
				font-size: .8rem
			b
				display: none
		.select2-selection__placeholder
			color: $dark 
	&.select2-container--open
		.select2-selection
			border-color: darken($border, 15%)
.select2-dropdown
	border-radius: 0
	border: 2px solid darken($border, 15%)
.select2-container--default 
	font-size: 1.6rem
	color: $dark 
	.select2-results__option--highlighted
		&[aria-selected]
			background: none
			color: $dark 
		&[aria-selected=true]
			background: $primary
			color: #fff 
	.select2-results__option
		padding: 1rem
		+tr(color .3s) 
		&:hover
			color: $primary 
		&[aria-selected=true]
			background: $primary
			color: #fff 