$primary: #ee3b37
$primaryDark: #d90f09
$primaryLight: #ff6460
$second: #efefef
$border: #dbdbdb
$dark: #333
$text: #161616
$meta: #999
$note: #7e8890
$fail: $primary

$btn: $primary
$btnSecond: #9767bc
$btnThird: #37a6ee
$btnFourth: #eebe37
$link: #343434
$tag: #c3c3cc
$menu-in: #f9f9fa
$btnLink: #535353
$navDropdown: #4a413c

$md: 992
$sm: 768
$xs: 680
$xxs: 480
=opensans
	font-family: 'Open Sans', Arial, Tahoma, sans-serif
=roboto
	font-family: 'Roboto', Arial, Tahoma, sans-serif
=light
	font-weight: 300 
=reg
	font-weight: 400
=sbold
	font-weight: 600 
=bold
	font-weight: 700 
=it
	font-style: italic
=clip-path
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%)
=shadow
	box-shadow: 0 1px 3px rgba(#000,.25)
=round
	border-radius: 4px 
=circle
	border-radius: 50%
=scroll
	&::-webkit-scrollbar
		width: 6px
		height: 6px
		border-radius: 4px
	&::-webkit-scrollbar-track
		background: none
		border-radius: 4px
	&::-webkit-scrollbar-thumb
		background: rgba(#000, .4)
		border-radius: 4px
=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale