// done by riverco.de team
@import lib/mixins
@import lib/reset
@import lib/sprite
@import lib/svgfont
@import variables
@import ../../bower/slick-carousel/slick/slick
@import common
@import form

html
	+selection
		background: rgba(#fff, .5)
.splash
	position: relative
	height: 100%
	line-height: 1.65
	color: #fff 
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		top: 0  
		background: rgba(#000,.4)
		z-index: 2
	+rh(670)
		height: auto
		min-height: 100%
	+r(640)
		padding: 20px 
	&__main
		padding-bottom: 11rem
		+rh(670)
			padding-bottom: 0
	&__content
		position: relative
		z-index: 3
		display: table
		width: 100%
		height: 100%
		+rh(670)
			display: block
			height: auto
			padding: 20px 
		&.is-hidden
			display: none
	&__wrap
		display: table-cell
		vertical-align: middle
		+rh(670)
			display: block
		// position: absolute
		// top: 50%
		// left: 50%
		// width: 52rem
		// transform: translateX(-50%) translateY(-50%)
		text-align: center
	&__in
		margin: 0 auto 
		width: 52rem
		+r(640)
			width: 100%
	&__logo
		+hide-text
		margin-bottom: 4.5rem
		+r(640)
			margin-bottom: 3rem
	&__title
		margin-bottom: 1.5rem
		font-size: 2rem
		+r(640)
			font-size: 1.8rem
	&__info
		margin-bottom: 1.8rem
		font-size: 1.7rem
		+light
		+r(640)
			font-size: 1.6rem
	&__form
		position: relative
		.input
			padding: 0 26rem 0 2.2rem 
			height: 8.5rem
			+r(640)
				height: 5rem
				padding: 0 2.2rem 
		.btn
			position: absolute
			padding: 0 4rem
			min-width: auto  
			right: 1.2rem
			top: 1.2rem
			height: 6rem
			+r(640)
				position: static
				display: block
				margin-top: 2rem
				width: 100%
				height: 5rem
	&__enter
		margin-top: 3.5rem
		+light
		font-size: 1.3rem
	&__link
		display: inline-block
		margin-right: 0.5rem
		color: #fff 
		font-size: 1.2rem
		letter-spacing: 1px 
		+reg
		text-transform: uppercase
		background: none
		+opensans
		&:hover
			span
				border-color: transparent 
		i
			vertical-align: middle
			margin-right: .5rem
		span
			vertical-align: middle
			display: inline-block
			border-bottom: 2px solid rgba(#fff, .8) 
			+tr(border .3s)
		.i-icon-edit
			font-size: 1.8rem
	&__footer
		position: absolute
		bottom: 0
		left: 0
		right: 0 
		padding-bottom: 2.2rem
		line-height: 1.5
		text-align: center
		+light
		font-size: 1.3rem
		.splash__link
			margin-left: 1rem
		+rh(670)
			position: relative
	&__note
		margin-top: 1.2rem
		font-size: 1.2rem
		opacity: 0.7
	&__message
		font-size: 1.4rem
		font-style: italic 
		+reg
	&__action
		position: relative
		margin: 3rem 0 
		padding: 3rem 0 0
		text-align: center
		&:before
			content: ""
			position: absolute
			left: 50%	
			top: 0
			margin-left: -3.3rem
			width: 6.6rem
			height: 3px
			background: #fff

.form
	border: 0
	position: relative
	margin: 6.5rem auto 0
	max-width: 42rem
	text-align: center
	+r(640)
		margin: 3rem auto
	&.is-hidden
		display: none
	.link-cancel
		margin-top: 12rem
		+r(640)
			margin-top: 3rem
	.input
		margin-bottom: 1.5rem
		padding: 0 2.4rem 
	.btn
		margin-top: 3rem
	&__error
		position: absolute
		top: -4rem
		left: 0
		right: 0
		display: none
		font-size: 1.5rem
		color: rgba(#ee3b37, .83)
		 
	&__change
		margin-top: 5.5rem
		background: none
		font-size: 1.5rem
		+reg
		color: rgba(#fff, .6) 
		+tr(color .3s)
		&:hover
			color: #fff 
		i
			position: relative
			top: -2px
			margin-right: 5px
			vertical-align: middle
			font-size: 12px
.fullpage-slider
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1
	img
		width: 100%
		height: 100%
		object-fit: cover
	.slick-track,
	.slick-list
		height: 100%
.link-cancel-wrap
	.link-cancel	
		margin-top: 3rem
.link-cancel
	display: inline-block
	margin-top: 0.5rem
	color: rgba(#fff, .6)
	font-size: 3rem
	+tr(color .3s)
	&:hover
		color: #fff 
.input
	&.is-error
		border-color: #fbcac9 