<tr>
	<td>
		<table class="footer">
			<tr>
				<td align="left">© 2015 LLC «Event Fest»</td>
				<td></td>
			</tr>
			<tr>
				<td class="footer__links" align="left">
					<a class="link" href="#">event-fest.ru</a> / <a class="link" href="#">Условия конфиденциальности</a></td>
				<td class="footer__soc" align="right">
					<a class="link" href="#">Facebook</a>    
					<a class="link" href="#">Vkontakte</a>    
					<a class="link" href="#">Instagram</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
{{mixins.space(20)}}