<tr>
	<td>
		<table class="header">
			<tr>
				<td valign="bottom" align="left">
					<a href="#" target="_blank">
						<img src="img/logo.png" alt="event fest">
					</a>
				</td>
				<td class="about" valign="bottom" align="right">
					Крупнейшая русскоязычная база №1 в России, <br> посвященная кейтеринг-индустрии
				</td>
			</tr>
		</table>
	</td>
</tr> 