<tr>
<!-- BEGIN SNIPPET -->
<td style="background-color: {{bg}};">
	<table align="center" border="0" cellpadding="0" cellspacing="0" style=
	"margin: 0;padding: 0;border-collapse: collapse;" width="600">
		<tr>
			<td align="left">
				
			</td>
			<td align="right">
				<a href="#" target="_blank">Смотреть в браузере</a>
			</td>
		</tr>
	</table>
</td>
<!-- END SNIPPET -->
</tr>