$icons: (0:0)
$icons: map-merge($icons,(arrow-l: (X: -33px, Y:-43px, W: 36px, H: 21px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(arrow-r: (X: 0px, Y:-76px, W: 36px, H: 21px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(caret-d: (X: -78px, Y:-76px, W: 12px, H: 9px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(fb: (X: -93px, Y:-43px, W: 7px, H: 15px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(glass-big: (X: -110px, Y:-71px, W: 19px, H: 19px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(glass-small: (X: -59px, Y:-76px, W: 15px, H: 16px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(ig: (X: -40px, Y:-76px, W: 15px, H: 16px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu1: (X: -76px, Y:0px, W: 30px, H: 32px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu2: (X: 0px, Y:-43px, W: 29px, H: 29px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu3: (X: -110px, Y:0px, W: 24px, H: 31px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu4: (X: -41px, Y:0px, W: 31px, H: 31px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu5: (X: -110px, Y:-35px, W: 23px, H: 32px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu6: (X: 0px, Y:0px, W: 37px, H: 39px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(vk: (X: -73px, Y:-43px, W: 16px, H: 16px, TW: 134px, TH: 97px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)
@mixin sp($i)
	+sprite-position($i)
@mixin sr($i)
	+sprite-retina($i)	

.icon-arrow-l
	width: 36px
	height: 21px
	background-image: url('../img/icons.png')
	background-position: -33px -43px
.icon-arrow-r
	width: 36px
	height: 21px
	background-image: url('../img/icons.png')
	background-position: 0px -76px
.icon-caret-d
	width: 12px
	height: 9px
	background-image: url('../img/icons.png')
	background-position: -78px -76px
.icon-fb
	width: 7px
	height: 15px
	background-image: url('../img/icons.png')
	background-position: -93px -43px
.icon-glass-big
	width: 19px
	height: 19px
	background-image: url('../img/icons.png')
	background-position: -110px -71px
.icon-glass-small
	width: 15px
	height: 16px
	background-image: url('../img/icons.png')
	background-position: -59px -76px
.icon-ig
	width: 15px
	height: 16px
	background-image: url('../img/icons.png')
	background-position: -40px -76px
.icon-menu1
	width: 30px
	height: 32px
	background-image: url('../img/icons.png')
	background-position: -76px 0px
.icon-menu2
	width: 29px
	height: 29px
	background-image: url('../img/icons.png')
	background-position: 0px -43px
.icon-menu3
	width: 24px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -110px 0px
.icon-menu4
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -41px 0px
.icon-menu5
	width: 23px
	height: 32px
	background-image: url('../img/icons.png')
	background-position: -110px -35px
.icon-menu6
	width: 37px
	height: 39px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.icon-vk
	width: 16px
	height: 16px
	background-image: url('../img/icons.png')
	background-position: -73px -43px
