@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$i-icon-vk: "\EA01"
$i-icon-fb: "\EA02"
$i-icon-camera: "\EA03"
$i-icon-date: "\EA04"
$i-icon-search: "\EA05"
$i-icon-caret-t: "\EA06"
$i-icon-ig: "\EA07"
$i-icon-caret-d: "\EA08"
$i-icon-caret-l: "\EA09"
$i-icon-caret-r: "\EA0A"
$i-icon-arr-l: "\EA0B"
$i-icon-arr-r: "\EA0C"
$i-icon-signin: "\EA0D"
$i-icon-checkbox: "\EA0E"
$i-icon-comment: "\EA0F"
$i-icon-bookmark: "\EA10"
$i-icon-location: "\EA11"
$i-icon-star: "\EA12"
$i-icon-flag: "\EA13"
$i-icon-user: "\EA14"
$i-icon-clip: "\EA15"
$i-icon-vk2: "\EA16"
$i-icon-tw: "\EA17"
$i-icon-ig2: "\EA18"
$i-icon-paper: "\EA19"
$i-icon-bubble: "\EA1A"
$i-icon-metro: "\EA1B"
$i-icon-gift: "\EA1C"
$i-icon-close: "\EA1D"
$i-icon-next: "\EA1E"
$i-icon-prev: "\EA1F"
$i-icon-down: "\EA20"
$i-icon-cancel: "\EA21"
$i-icon-bubble-sec: "\EA22"
$i-icon-edit: "\EA23"
$i-icon-close-sec: "\EA24"
$i-icon-fb2: "\EA25"
$i-icon-calendar: "\EA26"


%i-icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

[class^="i-icon-"], [class*=" i-icon-"]
	@extend %i-icon
	display: inline-block

.i-icon-vk:before
	content: $i-icon-vk
.i-icon-fb:before
	content: $i-icon-fb
.i-icon-camera:before
	content: $i-icon-camera
.i-icon-date:before
	content: $i-icon-date
.i-icon-search:before
	content: $i-icon-search
.i-icon-caret-t:before
	content: $i-icon-caret-t
.i-icon-ig:before
	content: $i-icon-ig
.i-icon-caret-d:before
	content: $i-icon-caret-d
.i-icon-caret-l:before
	content: $i-icon-caret-l
.i-icon-caret-r:before
	content: $i-icon-caret-r
.i-icon-arr-l:before
	content: $i-icon-arr-l
.i-icon-arr-r:before
	content: $i-icon-arr-r
.i-icon-signin:before
	content: $i-icon-signin
.i-icon-checkbox:before
	content: $i-icon-checkbox
.i-icon-comment:before
	content: $i-icon-comment
.i-icon-bookmark:before
	content: $i-icon-bookmark
.i-icon-location:before
	content: $i-icon-location
.i-icon-star:before
	content: $i-icon-star
.i-icon-flag:before
	content: $i-icon-flag
.i-icon-user:before
	content: $i-icon-user
.i-icon-clip:before
	content: $i-icon-clip
.i-icon-vk2:before
	content: $i-icon-vk2
.i-icon-tw:before
	content: $i-icon-tw
.i-icon-ig2:before
	content: $i-icon-ig2
.i-icon-paper:before
	content: $i-icon-paper
.i-icon-bubble:before
	content: $i-icon-bubble
.i-icon-metro:before
	content: $i-icon-metro
.i-icon-gift:before
	content: $i-icon-gift
.i-icon-close:before
	content: $i-icon-close
.i-icon-next:before
	content: $i-icon-next
.i-icon-prev:before
	content: $i-icon-prev
.i-icon-down:before
	content: $i-icon-down
.i-icon-cancel:before
	content: $i-icon-cancel
.i-icon-bubble-sec:before
	content: $i-icon-bubble-sec
.i-icon-edit:before
	content: $i-icon-edit
.i-icon-close-sec:before
	content: $i-icon-close-sec
.i-icon-fb2:before
	content: $i-icon-fb2
.i-icon-calendar:before
	content: $i-icon-calendar