<div class="banner banner_in" style="background-image: url(img/banner3.jpg)">
	<div class="nets">
		<a href="#" class="nets__item">
			<i class="i-icon-fb2"></i>
		</a>
		<a href="#" class="nets__item">
			<i class="i-icon-vk2"></i>
		</a>
		<a href="#" class="nets__item">
			<i class="i-icon-tw"></i>
		</a>
		<a href="#" class="nets__item">
			<i class="i-icon-ig2"></i>
		</a>
	</div>
</div>
<div class="company">
	<div class="company__img">
		<img src="img/company.png" alt="logo">
	</div>
	<div class="company__in">
		<div class="title-badged">
			<span>
				Dellos Catering
				<div class="badge"><span>pro</span></div>
			</span>
		</div>
		<div class="tags">
			<a href="#">
				банкет
			</a>
			<a href="#">
				фуршет
			</a>
			<a href="#">
				кофе-брейк
			</a>
			<a href="#">
				тимбилдинг
			</a>
			<a href="#">
				кулинарная станция
			</a>
		</div>
		<div>
			<button type="button" class="btn">
				предложить заказ
			</button>
			<button type="button" class="btn">
				сообщение
			</button>

		</div>
	</div>
	<div class="company__right">
		<div class="stat stat_secondary">
			<div class="mark">
				<div class="mark__circle js-mark" data-mark="5"></div>
				<span>5</span>
			</div>
			<span>
				<a href="#">
					<i class="i-icon-paper"></i>
					<em>12</em>
				</a>
			</span>
			<span>
				<a href="#">
					<i class="i-icon-bubble"></i>
					<em>4</em>
				</a>
			</span>
			<span>
				<a href="#">
					<i class="i-icon-star"></i>
					<em>27</em>
				</a>
			</span>
		</div>
		<div class="price">
			<span>Средний чек:</span>
			2 500 Р
			<span>/ чел.</span>
		</div>
	</div>
</div>
<div class="tabs-parent">
	<div class="scrollbar js-scrollbar">
		<ul class="tabs-second">
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Информация
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Услуги
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Меню
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Галерея
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Площадки
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Персонали 
				</a>
			</li>
			<li class="tabs-second__cell is-active">
				<a href="#" class="tabs-second__link">
					Отзывы
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Календарь
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					  Акци
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					События
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Площадки
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Персонали 
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Отзывы
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					Календарь
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					  Акци
				</a>
			</li>
			<li class="tabs-second__cell">
				<a href="#" class="tabs-second__link">
					События
				</a>
			</li>
		</ul>
	</div>
	<span class="el-shadow"><i class="i-icon-caret-r"></i></span>
</div>