<footer class="footer">
	<div class="container-fluid">
		<ul class="menu">
			<li class="menu__item">
				<a class="menu__link" href="#">О сайте</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Помощь</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Блоги</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Программа лояльности</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Реклама на сайте</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Контактная информация</a>
			</li>
		</ul>
		<div class="footer__info">
			<div class="footer__copy">© 2015 Event Fest</div>
			<div class="footer__counter">
				<img src="img/rambler.png" alt="img">
			</div>
			<div class="soc">
				<a href="#" class="soc__fb">
					<span class="i-icon-fb"></span>
				</a>
				<a href="#" class="soc__vk">
					<span class="i-icon-vk"></span>
				</a>
				<a href="#" class="soc__ig">
					<span class="i-icon-ig"></span>
				</a>
			</div>
		</div>
	</div>
</footer>