<div class="nav-panel js-nav-panel">
	<a href="#" class="logo">
		Event fest - Кейтеринг в России
		<img src="img/logo.png" alt="event fest">
	</a>
	<div class="login-box">
		<a href="#" class="login-box__btn js-waves">вход</a>
		<a href="#" class="login-box__btn js-waves">регистрация</a>
	</div>
	<ul class="nav">
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/catering.svg" width="30" alt="Кейтеринг">
				Кейтеринг
			</a>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/events.svg" width="30" alt="Мероприятия">
				Мероприятия
			</a>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/places.svg" width="25" alt="Площадки">
				Площадки
			</a>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/deals.svg" width="31" alt="Акции">
				Акции
			</a>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/delivery.svg" width="23" alt="Доставка">
				Доставка
			</a>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/work.svg" width="37" alt="Работа">
				Работа
			</a>
		</li>
	</ul>
	<div class="search-form">
		<form action="#">
			<input class="search-form__input" type="text" placeholder="Поиск...">
			<button class="search-form__btn" type="submit"><span class="i-icon-search"></span></button>
		</form>
	</div>
</div>
<div class="nav-overlay js-nav-panel js-nav-overlay"></div>
<button class="btn-nav js-toggle js-nav-btn" data-toggle="js-nav-panel">
	<i class="i-icon-caret-r"></i>
</button>