<div class="nav-panel js-nav-panel">
	<a href="#" class="logo">
		Event fest - Кейтеринг в России
		<img src="img/logo.png" alt="event fest">
	</a>
	<div class="login-box">
		<a href="#" class="login-box__btn js-waves">вход</a>
		<a href="#" class="login-box__btn js-waves">регистрация</a>
	</div>
	<ul class="nav">
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/catering.svg" width="30" alt="Кейтеринг">
				Кейтеринг
			</a>
			<ul class="nav-dropdown">
				<li>
					<a href="#">
						Кейтеринг-компании
					</a>
				</li>
				<li>
					<a href="#">
						Кулинарные шоу
					</a>
				</li>
				<li>
					<a href="#">
						Экспресс-кейтеринг
					</a>
				</li>
				<li>
					<a href="#">
						Молекулярная кухня
					</a>
				</li>
				<li>
					<a href="#">
						Винотеки
					</a>
				</li>
				<li>
					<a href="#">
						Питание в транспорте
					</a>
				</li>
				<li>
					<a href="#">
						Кальянный кейтеринг
					</a>
				</li>
				<li>
					<a href="#">
						Полевая кухня
					</a>
				</li>
				<li>
					<a href="#">
						Чайная церемония
					</a>
				</li>
			</ul>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/icon-1.png" alt="Площадки">
				Площадки
			</a>
			<ul class="nav-dropdown">
				<li><a href="#">Банкетные залы</a></li>
				<li><a href="#">Конференц-залы</a></li>
				<li><a href="#">Усадьбы</a></li>
				<li><a href="#">Веранды</a></li>
				<li><a href="#">Ночные клубы</a></li>
				<li><a href="#">Event-лофты, Open Space</a></li>
				<li><a href="#">Театры, музеи, выставки</a></li>
				<li><a href="#">Транспорт</a></li>
				<li><a href="#">Спортивные площадки</a></li>
				<li><a href="#">Детские </a></li>
				<li><a href="#">Нестандартные площадки</a></li>
			</ul>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/icon-2.png" alt="Аренда">
				Аренда
			</a>
			<ul class="nav-dropdown">
				<li><a href="#">Оборудование</a></li>
				<li><a href="#">Транспорт</a></li>
				<li><a href="#">Мебель</a></li>
				<li><a href="#">Шатры</a></li>
				<li><a href="#">Посуда</a></li>
				<li><a href="#">Текстиль</a></li>
				<li><a href="#">Всё для свадьбы</a></li>
				<li><a href="#">Одежда</a></li>
				<li><a href="#">Животные</a></li>
				<li><a href="#">Игры, аттракционы</a></li>
			</ul>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/events.svg" width="30" alt="Программа">
				Программа
			</a>
			<ul class="nav-dropdown">
				<li><a href="#">Ведущие </a></li>
				<li><a href="#">Диджеи</a></li>
				<li><a href="#">Артисты </a></li>
				<li><a href="#">Фейерверк-шоу</a></li>
				<li><a href="#">Световое шоу</a></li>
				<li><a href="#">Бармен шоу</a></li>
				<li><a href="#">Нестандартные шоу</a></li>
			</ul>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/icon-4.png"  alt="Специалисты">
				Специалисты
			</a>
			<ul class="nav-dropdown">
				<li><a href="#">Декораторы</a></li>
				<li><a href="#">Фотографы</a></li>
				<li><a href="#">Видеографы</a></li>
				<li><a href="#">Флористы</a></li>
				<li><a href="#">Стилисты</a></li>
				<li><a href="#">Художники</a></li>
				<li><a href="#">Модели</a></li>
				<li><a href="#">Повора</a></li>
				<li><a href="#">Официанты</a></li>
			</ul>
			<ul class="nav-dropdown">
				<li><a href="#">Администраторы</a></li>
				<li><a href="#">Инженеры</a></li>
				<li><a href="#">Водители</a></li>
				<li><a href="#">Монтажники</a></li>
				<li><a href="#">Уборщики</a></li>
				<li><a href="#">Грузчики</a></li>
				<li><a href="#">Безопасность</a></li>
				<li><a href="#">Представители ЗАГС</a></li>
				<li><a href="#">Представители РПЦ</a></li>
			</ul>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">
				<img src="img/nav/delivery.svg" width="23" alt="Доставка">
				Доставка
			</a>
			<ul class="nav-dropdown">
				<li><a href="#">Пицца, суши, бургеры</a></li>
				<li><a href="#">Шашлыки, гриль</a></li>
				<li><a href="#">Кондитерские изделия</a></li>
				<li><a href="#">Здоровое питание</a></li>
				<li><a href="#">Деликатесы</a></li>
				<li><a href="#">Фермерские продукты</a></li>
				<li><a href="#">Молекулярная кухня</a></li>
				<li><a href="#">Напитки</a></li>
				<li><a href="#">Алкоголь</a></li>
				<li><a href="#">Табачные изделия</a></li>
				<li><a href="#">Цветы</a></li>
			</ul>
		</li>
	</ul>
	<div class="search-form">
		<form action="#">
			<input class="search-form__input" type="text" placeholder="Поиск...">
			<button class="search-form__btn" type="submit"><span class="i-icon-search"></span></button>
		</form>
	</div>
</div>
<div class="nav-overlay js-nav-panel js-nav-overlay"></div>
<button class="btn-nav js-toggle js-nav-btn" data-toggle="js-nav-panel">
	<i class="i-icon-caret-r"></i>
</button>