<div class="popup popup_white js-popup-message-unreg">
	<div class="popup__layout js-toggle" data-toggle="js-popup-message-unreg"></div>
	<div class="popup__in">
		<button type="button" class="btn-close js-toggle" data-toggle="js-popup-message-unreg">
			<i class="i-icon-close-sec"></i>
		</button>
		<form>
			<label>
				<span class="popup__name">
					Сообщение
				</span>
				<textarea class="textarea" placeholder="Написать сообщение..."></textarea>
			</label>
			<div class="file-wrap">
				<div class="file js-file">
					<input type="file" class="file__input" multiple>
					<button type="button" class="file__btn">
						<i class="i-icon-clip"></i>
					</button>
					<div class="file__title">
						<span class="file__name js-file-name""></span>
						<span class="file__size js-file-size"></span>
						<button type="button" class="file__delete">
							<i class="i-icon-close-sec"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="row row_marg-4">
				<div class="col col-48">
					<div class="popup__subtitle">
						Данные для регистрации на сайте:
					</div>
					<div class="pp-input">
						<input type="e-mail" placeholder="E-mail">
					</div>
					<div class="checkbox-wrap">
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я частное лицо
							</span>
						</label>
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я представитель 
								компании
							</span>
						</label>
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Имя">
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Фамилия">
					</div>
				</div>
				<div class="col col-48 float-right">
					<div class="popup__logo">
						<img src="img/logo-short.png" alt="logo">
					</div>
					<ul class="pp-list">
						<li>
							Более 52 000 компаний и специалистов 
							для вашей задачи
						</li>
						<li>
							Лучшие специальные предложения 
							от представителей event-индустрии
						</li>
						<li>
							Удобный поиск подрядчика, а также 
							система отзывов и рекомендаций
						</li>
					</ul>
				</div>
			</div>
			<div class="popup__bottom">
				<button class="btn-action" type="submit">
					отправить
				</button>
				<a href="#" class="link-action">
					Войти
				</a>
			</div>
		</form>
	</div>
</div>
<div class="popup popup_white popup_third js-popup-message-reg">
	<div class="popup__layout js-toggle" data-toggle="js-popup-message-reg"></div>
	<div class="popup__in">
		<button type="button" class="btn-close js-toggle" data-toggle="js-popup-message-reg">
			<i class="i-icon-close-sec"></i>
		</button>
		<form>
			<label>
				<span class="popup__name">
					Сообщение
				</span>
				<textarea class="textarea" placeholder="Написать сообщение..."></textarea>
			</label>
			<div class="file-wrap">
				<button class="btn-action" type="submit">
					отправить
				</button>
				<div class="file js-file">
					<input type="file" class="file__input" multiple>
					<button type="button" class="file__btn">
						<i class="i-icon-clip"></i>
					</button>
					<div class="file__title">	
						<span class="file__name js-file-name"></span>	
						<span class="file__size js-file-size"></span>
						<button type="button" class="file__delete">
							<i class="i-icon-close-sec"></i>
						</button>	
					</div>
				</div>
				
			</div>
			
		</form>
	</div>
</div>
<div class="popup popup_white popup_second js-popup-success-2">
	<div class="popup__layout js-toggle" data-toggle="js-popup-success-2"></div>
	<div class="popup__in">
		<i class="i-icon-checkbox"></i>
		<div class="popup__name">
			Ваше сообщение 
			успешно отправлено
		</div>
		<button class="btn-action js-toggle" data-toggle="js-popup-success-2" type="submit">
			ОК
		</button>
	</div>
</div>
<div class="popup popup_second js-popup-success">
	<div class="popup__layout js-toggle" data-toggle="js-popup-success"></div>
	<div class="popup__in">
		<i class="i-icon-checkbox"></i>
		<div class="popup__name">
			Ваша заявка успешно отправлена
		</div>
		<button class="btn-action js-toggle" data-toggle="js-popup-success" type="submit">
			ОК
		</button>
	</div>
</div>
<div class="popup popup_second js-popup-success-3">
	<div class="popup__layout" data-toggle="js-popup-success-3"></div>
	<div class="popup__in">
		<i class="i-icon-checkbox"></i>
		<div class="popup__name">
			Ваша заявка успешно отправлена
		</div>
		<button class="btn-action js-toggle" data-toggle="js-popup-success-3" type="submit">
			ОК
		</button>
		<div class="pp-menu-wrap">
			<div class="popup__subtitle">
				У нас есть ещё много интересного
				для создания идеального мероприятия:
			</div>
			<ul class="nav nav_pp">
				<li class="nav__item">
					<a href="#" class="nav__link">
						<span>
							<img src="img/nav/catering.svg" width="30" alt="Кейтеринг">
							<em>Кейтеринг</em>
						</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">
						<span>
							<img src="img/icon-1.png" alt="Площадки">
							<em>Площадки</em>
						</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">
						<span>
							<img src="img/icon-2.png" alt="Аренда">
							<em>Аренда</em>
						</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">
						<span>
							<img src="img/nav/events.svg" width="30" alt="Программа">
							<em>Программа</em>
						</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">
						<span>
							<img src="img/icon-4.png"  alt="Специалисты">
							<em>Специалисты</em>
						</span>
					</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">
						<span>
							<img src="img/nav/delivery.svg" width="23" alt="Доставка">
							<em>Доставка</em>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="popup js-popup-order-reg-bottom">
	<div class="popup__layout js-toggle" data-toggle="js-popup-order-reg-bottom"></div>
	<div class="popup__in">
		<button type="button" class="btn-close js-toggle" data-toggle="js-popup-order-reg-bottom">
			<i class="i-icon-close-sec"></i>
		</button>
		<form>
			<div class="popup__name">
				Заказать услугу
			</div>
			<div class="info-small">
				<a href="#" class="info-small__img">
					<img src="img/company-2.png" alt="logo">
				</a>
				<div class="info-small__right">
					<a href="#" class="info-small__name">
						Dellos Catering
					</a>
					<div class="info-small__about">
						кейтеринг
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<div class="pp-input">
						<input type="text" placeholder="Имя">
					</div>
				</div>
				<div class="col col-45 float-right">
					<select class="js-select" style="width: 100%" placeholder="Тип кейтеринга">
						<option></option>
						<option value="Тут пункты из списка Услуги компании">Тут пункты из списка Услуги компании</option>
						<option value="Пункты из списка Услуги компании">Пункты из списка Услуги компании</option>
					</select>
				</div>
			</div>
			<textarea class="textarea" placeholder="Комментарий"></textarea>
			<div class="row row_marg-4">
				<div class="col col-48">
					<div class="popup__subtitle">
						Данные для регистрации на сайте:
					</div>
					<div class="pp-input">
						<input type="e-mail" placeholder="E-mail">
					</div>
					<div class="checkbox-wrap">
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я частное лицо
							</span>
						</label>
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я представитель 
								компании
							</span>
						</label>
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Имя">
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Фамилия">
					</div>
				</div>
				<div class="col col-48 float-right">
					<div class="popup__logo">
						<img src="img/logo-short-wt.png" alt="logo">
					</div>
					<ul class="pp-list">
						<li>
							Более 52 000 компаний и специалистов 
							для вашей задачи
						</li>
						<li>
							Лучшие специальные предложения 
							от представителей event-индустрии
						</li>
						<li>
							Удобный поиск подрядчика, а также 
							система отзывов и рекомендаций
						</li>
					</ul>
				</div>
			</div>
			<div class="popup__bottom">
				<button class="btn-action" type="submit">
					Зарегистрироваться и заказать услугу
				</button>
			</div>
		</form>
	</div>
</div>
<div class="popup js-popup-order-reg js-toggle" data-toggle="js-popup-order-reg">
	<div class="popup__layout"></div>
	<div class="popup__in">
		<button type="button" class="btn-close js-toggle" data-toggle="js-popup-order-reg">
			<i class="i-icon-close-sec"></i>
		</button>
		<form>
			<div class="row">
				<div class="col col-47">
					<div class="popup__name no-marg">
						Заказать услугу
					</div>
					<div class="popup__subtitle with-marg">
						Для заказа услуги вам необходимо зарегистрироваться или <a href="#">войти на сайт</a>
					</div>
					<div class="pp-input">
						<input type="e-mail" placeholder="E-mail">
					</div>
					<div class="checkbox-wrap">
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я частное лицо
							</span>
						</label>
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я представитель 
								компании
							</span>
						</label>
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Имя">
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Фамилия">
					</div>
				</div>
				<div class="col col-47 float-right">
					<div class="popup__logo is-big">
						<img src="img/logo-short-big.png" alt="logo">
					</div>
					<ul class="pp-list">
						<li>
							Более 52 000 компаний и специалистов 
							для вашей задачи
						</li>
						<li>
							Лучшие специальные предложения 
							от представителей event-индустрии
						</li>
						<li>
							Удобный поиск подрядчика, а также 
							система отзывов и рекомендаций
						</li>
					</ul>
				</div>
			</div>
			<div class="popup__bottom">
				<button class="btn-action" type="submit">
					Зарегистрироваться и заказать услугу
				</button>
			</div>
		</form>
	</div>
</div>
<div class="popup js-popup-order-registrated">
	<div class="popup__layout js-toggle" data-toggle="js-popup-order-registrated"></div>
	<div class="popup__in">
		<button type="button" class="btn-close js-toggle" data-toggle="js-popup-order-registrated">
			<i class="i-icon-close-sec"></i>
		</button>
		<form>
			<div class="popup__name">
				Заказать услугу
			</div>
			<div class="info-small">
				<a href="#" class="info-small__img">
					<img src="img/company-2.png" alt="logo">
				</a>
				<div class="info-small__right">
					<a href="#" class="info-small__name">
						Dellos Catering
					</a>
					<div class="info-small__about">
						кейтеринг
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<div class="pp-input">
						<input type="tel" placeholder="Контактный телефон">
					</div>
					<div class="row">
						<div class="col col-50 col-50-xs">
							<div class="input-date pp-input datepicker-second">
								<input class="js-pick-date" type="text" placeholder="Дата">
							</div>
							<script>
								$(function() {
									var unavailableDates = ["10-11-2016", "15-11-2016", "25-11-2016", "3-6-2016", "20-7-2016", "10-8-2016"];
									var $calendar = $(".js-pick-date");
									function checkUnavailable(date) {
										dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
										if ($.inArray(dmy, unavailableDates) < 0) {
											return [true];
										} else {
											return [false, "is-busy"];
										}
									}
									$calendar.datepicker({
										numberOfMonths: 1,
										beforeShowDay: checkUnavailable,
										dateFormat: "dd MM yy",
									}).datepicker( $.datepicker.regional["ru"]);
									
								});
							</script>
						</div>
						<div class="col col-50 col-50-xs float-right">
							<div class="pp-input-wrap">
								<div class="popup__subtitle is-inline">
									Время 
								</div>
								<div class="pp-input pp-input_small">
									<input type="text" placeholder="с">
								</div>
								<div class="pp-input pp-input_small">
									<input type="text" placeholder="по">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-45 float-right">
					<select class="js-select" style="width: 100%" placeholder="Тип кейтеринга">
						<option></option>
						<option value="Тут пункты из списка Услуги компании">Тут пункты из списка Услуги компании</option>
						<option value="Пункты из списка Услуги компании">Пункты из списка Услуги компании</option>
					</select>
					<div class="pp-input">
						<input type="text" placeholder="Количество гостей">
					</div>
				</div>
			</div>
			<div class="checkbox-wrap checkbox-wrap_sm with-marg ">
				<div class="popup__subtitle is-inline">
					Место проведения:
				</div>
				<div class="wrap-in">
					<label class="pp-checkbox is-wide">
						<input type="radio" name="radio1">
						<span class="pp-checkbox__text">
							<i></i>
							Москва
						</span>
					</label>
					<label class="pp-checkbox is-wide">
						<input type="radio" name="radio1">
						<span class="pp-checkbox__text">
							<i></i>
							Московская область
						</span>
					</label>
					<label class="pp-checkbox is-wide">
						<input type="radio" name="radio1">
						<span class="pp-checkbox__text">
							<i></i>
							Санкт-Петербург
						</span>
					</label>
					<a href="#" class="pp-link">
						<i class="i-icon-location"></i>
						<span>Выбрать город</span>
					</a>
				</div>
			</div>
			<textarea class="textarea" placeholder="Комментарий"></textarea>
			<div class="popup__bottom">
				<button class="btn-action" type="submit">
					заказать услугу
				</button>
			</div>
		</form>
	</div>
</div>
<div class="popup js-popup-order-reg-customize">
	<div class="popup__layout js-toggle" data-toggle="js-popup-order-reg-customize"></div>
	<div class="popup__in">
		<button type="button" class="btn-close js-toggle" data-toggle="js-popup-order-reg-customize">
			<i class="i-icon-close-sec"></i>
		</button>
		<form>
			<div class="popup__name">
				Заказать услугу
			</div>
			<div class="info-small">
				<a href="#" class="info-small__img">
					<img src="img/company-2.png" alt="logo">
				</a>
				<div class="info-small__right">
					<a href="#" class="info-small__name">
						Dellos Catering
					</a>
					<div class="info-small__about">
						кейтеринг
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-45">
					<div class="pp-input">
						<input type="tel" placeholder="Контактный телефон">
					</div>
					<div class="row">
						<div class="col col-50 col-50-xs">
							<div class="input-date pp-input datepicker-second">
								<input class="js-pick-date" type="text" placeholder="Дата">
							</div>
							<script>
								$(function() {
									var unavailableDates = ["10-11-2016", "15-11-2016", "25-11-2016", "3-6-2016", "20-7-2016", "10-8-2016"];
									var $calendar = $(".js-pick-date");
									function checkUnavailable(date) {
										dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
										if ($.inArray(dmy, unavailableDates) < 0) {
											return [true];
										} else {
											return [false, "is-busy"];
										}
									}
									$calendar.datepicker({
										numberOfMonths: 1,
										beforeShowDay: checkUnavailable,
										dateFormat: "dd MM yy",
									}).datepicker( $.datepicker.regional["ru"]);
									
								});
							</script>
						</div>
						<div class="col col-50 col-50-xs float-right">
							<div class="pp-input-wrap">
								<div class="popup__subtitle is-inline">
									Время 
								</div>
								<div class="pp-input pp-input_small">
									<input type="text" placeholder="с">
								</div>
								<div class="pp-input pp-input_small">
									<input type="text" placeholder="по">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-45 float-right">
					<select class="js-select" style="width: 100%" placeholder="Тип кейтеринга">
						<option></option>
						<option value="Тут пункты из списка Услуги компании">Тут пункты из списка Услуги компании</option>
						<option value="Пункты из списка Услуги компании">Пункты из списка Услуги компании</option>
					</select>
					<div class="pp-input">
						<input type="text" placeholder="Количество гостей">
					</div>
				</div>
			</div>
			<div class="checkbox-wrap checkbox-wrap_sm with-marg">
				<div class="popup__subtitle is-inline">
					Место проведения:
				</div>
				<div class="wrap-in">
					<label class="pp-checkbox is-wide">
						<input type="radio" name="radio1">
						<span class="pp-checkbox__text">
							<i></i>
							Москва
						</span>
					</label>
					<label class="pp-checkbox is-wide">
						<input type="radio" name="radio1">
						<span class="pp-checkbox__text">
							<i></i>
							Московская область
						</span>
					</label>
					<label class="pp-checkbox is-wide">
						<input type="radio" name="radio1">
						<span class="pp-checkbox__text">
							<i></i>
							Санкт-Петербург
						</span>
					</label>
					<a href="#" class="pp-link">
						<i class="i-icon-location"></i>
						<span>Выбрать город</span>
					</a>
				</div>
			</div>
			<textarea class="textarea" placeholder="Комментарий"></textarea>
			<div class="row row_marg-4">
				<div class="col col-48">
					<div class="popup__subtitle">
						Данные для регистрации на сайте:
					</div>
					<div class="pp-input">
						<input type="e-mail" placeholder="E-mail">
					</div>
					<div class="checkbox-wrap">
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я частное лицо
							</span>
						</label>
						<label class="pp-checkbox">
							<input type="radio" name="radio1">
							<span class="pp-checkbox__text">
								<i></i>
								Я представитель 
								компании
							</span>
						</label>
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Имя">
					</div>
					<div class="pp-input">
						<input type="text" placeholder="Фамилия">
					</div>
				</div>
				<div class="col col-48 float-right">
					<div class="popup__logo">
						<img src="img/logo-short-wt.png" alt="logo">
					</div>
					<ul class="pp-list">
						<li>
							Более 52 000 компаний и специалистов 
							для вашей задачи
						</li>
						<li>
							Лучшие специальные предложения 
							от представителей event-индустрии
						</li>
						<li>
							Удобный поиск подрядчика, а также 
							система отзывов и рекомендаций
						</li>
					</ul>
				</div>
			</div>
			<div class="popup__bottom">
				<button class="btn-action" type="submit">
					заказать услугу
				</button>
				<a href="#" class="link-action">
					Войти
				</a>
			</div>
		</form>
	</div>
</div>