=lato
	font-family: 'Lato', Helvetica, Arial, sans-serif
=verdana
	font-family: Verdana, Arial, sans-serif
=arabic
	font-family: 'Amiri', Arial, serif
$meta: #7e8890
$main: #ee3b37
$text: #222
body
	width: 100%
	// background-color: #f5f5f5
	margin: 0
	padding: 0  
img
	border: 0 
	outline: none
	text-decoration: none
	-ms-interpolation-mode: bicubic 
strong
	font-weight: bold
table
	border-collapse: collapse
	width: 100%
	mso-table-lspace: 0pt
	mso-table-rspace: 0pt
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100% 
	margin: auto
	padding: 0
#bodyTable
	height: 100% !important
	width: 580px
.link
	font-size: 11px
	+verdana
	color: $meta
	text-decoration: underline 
.about
	color: $meta
	+verdana
	font-size: 10px
	font-weight: 400
	line-height: 18px
	letter-spacing: .5px 
	text-transform: uppercase
.promo
	background: $main url("./img/bg.png")
	color: #fff
	border-radius: 3px 3px 0 0 
	&__left
		color: #fefeff
		+arabic
		font-size: 10px
		font-weight: 400
		line-height: 24px
		padding: 44px 35px 0
		text-transform: uppercase
		img
			margin-right: 5px
		a
			color: #fff
			text-decoration: none 
	&__right
		color: white
		+lato
		font-size: 18px
		padding: 33px 35px 0
		font-weight: 300
		line-height: 39px
	&__main
		color: white
		+lato
		font-size: 39px
		padding: 28px 35px 23px
		font-weight: 300
		line-height: 40px
	&__img
		padding: 0
		img
			display: block
.main
	border: 8px solid $main
	&__text
		padding: 22px 50px
		color: $text
		+verdana
		font-size: 16px
		font-weight: 400
		line-height: 1.5
		strong
			font-size: 18px
			font-weight: normal
		p
			margin-bottom: 22px
			&:last-child
				margin-bottom: 10px
.button
	a
		display: inline-block
		padding: 15px 55px
		color: white
		+verdana
		font-size: 18px
		font-weight: 400
		line-height: 1
		background: $main
		text-decoration: none
		border-radius: 3px  
.meta
	padding: 25px 50px 30px
	color: $meta
	+verdana
	font-size: 11px
	font-weight: 400
	line-height: 1.5
.footer
	color: black
	+verdana
	font-size: 11px
	font-weight: 400
	&__links
		color: $meta 
		padding-top: 6px
	&__soc
		padding-top: 6px
		a
			display: inline-block
			margin-left: 5px
.tooper
	td
		padding: 10px 0 
.header
	td
		padding-top: 38px
.border
	width: 85%
	margin: 0 auto 
	border-bottom: 1px solid #e5e5e5
	td
		padding: 24px 0 
.info
	font-size: 13px
	color: #8c8c8c
	+verdana 
	line-height: 1.5
.info-box
	padding: 15px 0 0
	font-size: 12px
	line-height: 1.6
	color: #8c8c8c
	+verdana 
.login-info
	font-size: 16px
	color: #222 
	+verdana
.login
	margin: 20px auto 55px
	width: 366px
	background: #f1f4f5 
	border-radius: 3px 
	+verdana
	font-size: 13px
	tr
		&:first-child
			td
				padding-top: 15px
		&:last-child
			td
				padding-bottom: 15px
	td
		padding: 5px 5px 
		&:first-child
			font-weight: bold
.about
	font-size: 16px
	color: #222 
	line-height: 1.5
	text-transform: none
	td
		vertical-align: top
	a
		color: $main
		text-decoration: underline 
	p
		padding-left: 10px
.title
	padding-left: 30px
	font-size: 30px
	color: #222 
			